<% content_for :header_title, "Health Coverage Needs" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.insurance_current.edit.title",
            count: current_application.members.count) %>
    </div>
    <p class="text--help text--centered">
      <%= t("medicaid.insurance_current.edit.helper_text",
            count: current_application.members.count) %>
    </p>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :anyone_insured %>
</div>
