<div class="step-header">
  <a href="/pages/medicaid/intro_citizen" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Health Coverage Needs
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Are you currently enrolled in a health insurance plan?
    </div>

    <p class="text--help text--centered">
      You may be eligible for dual enrollment, which can help cover additional
      medical expenses.
    </p>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :insured %>
</div>

<!-- https://trello.com/c/wkRhS6tp/10-are-you-currently-enrolled-in-a-health-insurance-plan -->
