<%- max_count = metrics.map { |signup| signup[:count] }.max %>
<%- metrics.each do |signup| %>
  <tr>
    <td><%= signup[:start].to_s(:weekday) %></td>
    <td class="text-right"><%= signup[:count] %></td>
    <td>
      <div class="progress">
        <span class="meter" style="width: <%= signup[:count].to_f / max_count  * 100 %>%"></span>
      </div>
    </td>
  </tr>
<%- end %>
