<% content_for :header_title, "Quick Health Questions" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.health_pregnancy.edit.title",
         count: @step.female_members.count,
         start_of_question: @step.single_female_start_of_question) %>
    </div>
    <p class="text--help text--centered">
      Currently pregnant or pregnant in the past three months.
    </p>
  </header>

  <%= render "shared/yes_no_form",
    step: @step,
    field: :anyone_new_mom %>
</div>
