<p>
Hello Genesee County staff!
</p>

<p>
A new application for FAP was just completed online. Attached you'll find a new 1171, completed using the Digital Assister. This person is not present at your office.
</p>

<p>
Thank you as always for your feedback on this new process. Let us know what is working, and what can be improved! Reach out with ideas or issues anytime by replying to this email.
</p>

<p>
Best,
<br>
Alan Williams (Code for America) & Lena Selzer (Civilla)
<br>
<%= root_url %>
</p>
