<% content_for :header_title, "Household" %>

<% content_for :form_card_header do %>
    <h1 class="form-card__title tooltip" <%= tooltip_title "Reduce cognitive load: Keeping to one question per screen reduces the impression of complexity, without adversely affecting the time it takes to complete the form." %>>
      Is anyone in your household currently married?
    </h1>
<% end %>

<% content_for :form_card_body do %>
    <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
        <%= f.mb_yes_no_buttons :anyone_married,
          yes_value: true,
          no_value: false
        %>
    <% end %>
<% end %>

<% content_for :skip_footer, true %>
