<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us how many jobs you currently have.</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>

      <%= f.mb_radio_set :new_number_of_jobs,
        '',
        [
          { value: "4", label: "4 jobs" },
          { value: "5", label: "5 jobs" },
          { value: "6", label: "6 jobs" },
          { value: "7", label: "7 jobs" },
          { value: "8", label: "8 jobs" },
          { value: "9", label: "9 jobs" },
          { value: "10", label: "10 jobs" },
        ] %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
