<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What is the best email address at which to contact you?</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_input_field :email, "Email address", notes: ["If you don’t have one or you don’t want to receive emails from us you can leave this blank."], optional: true %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
