<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What is the best email address at which to contact you? (Optional)</div>
  </header>

  <div>
    <label class="form-question" for="example_text">Email address</label>
    <input type="text" class="text-input">
  </div>

  <!-- Replace with partial -->
  <footer class="form-card__button_right">
    <a href="/pages/medicaid/contact_ss_dob" class="button button--nav button--nav-center button--cta button--full-width">
      Next
    </a>
  </footer>
</div>

<!-- https://trello.com/c/fgGgIi7T/31-what-is-the-best-email-address-at-which-to-contact-you-optional -->
