<% content_for :header_title, "Introduction Complete" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--celebrate"></div>
    <div class="pre-title">
      Thank you, <%= current_application.primary_member.first_name %>!
    </div>
    <div class="form-card__title">
      It should take about 10 more minutes to complete a full application.
    </div>
  </header>

  <div class="form-card__content">
    <h4>What happens next?</h4>
    <p>
      Next, we’ll ask you some eligibility questions and then submit your
      application to MDHHS on <%= full_office_name(current_application) %>.
    </p>

    <p>
      To change office location, click <%= link_to "here", step_path(IntroductionChangeOfficeLocationController) %>.
    </p>

  </div>
  <%= render partial: 'shared/next_step_link' %>
</div>
