<h4 class="step-header step-header__top step-header__title--centered">MichiganBenefits.org Privacy Policy</h4>

<div class="form-card">
  <p>
    Adapted from the <a href="http://demo.getcalfresh.org/en/privacy">Privacy Policy</a>
    for GetCalFresh.org, a Federal Nutrition Service endorsed Community Based
    Organization.

  </p>
  <h2>Privacy Policy</h3>
  <p>
    MichiganBenefits.org is a non-profit website run by Code for America
    Labs, Inc. ("Code for America", "we", "us", "our"). This Privacy Policy
    describes how the “The Michigan Prototype” website (the "Site") collects,
    uses, and protects your personal information. By submitting your personal
    information on the Site, you agree to the terms in this Privacy Policy. If
    you do not agree with these terms, please do not use the Site. You can go to
    <a href="https://www.michigan.gov/mibridges">www.michigan.gov/mibridges</a>
    to apply for SNAP and other Michigan benefit programs.
  </p>
  <h3>Overview</h3>
  <ul class="list--bulleted">
    <li>
      We will only use your personal information to help you get and keep SNAP and
      any other benefit programs that you apply for on future versions of the Site
      (“Benefits” herein refers to all such programs).
    </li>
    <li>
      We will not knowingly disclose or sell your personal information to any third
      party, except as provided in this privacy policy.
    </li>
    <li>
      We will take all reasonable measures to protect your personal information.
    </li>
  </ul>

  <h3>
    The personal information we collect
  </h3>
  <p>
    We collect all information that you provide through the Site, including
    your name, address, contact information, social security number, financial
    information, and similar information for other individuals that you include
    on your Benefits application. We also collect and store copies of any
    documents you upload, like pictures of your driver’s license, pay stubs,
    birth certifications, rent receipts, etc. We do not store any of this
    information unless you electronically sign your Benefits application and
    click 'Submit Application' at the end.
  </p>
  <p>
    In addition to the information you provide, we automatically collect and
    store information about your visit to the Site:
  </p>
  <ul class="list--bulleted">
    <li>
      Domain from which you access the Internet
    </li>
    <li>
      IP address (an IP or internet protocol address is a number that is
      automatically given to a computer connected to the Web)
      Operating system on your computer and information about the browser you
      used when visiting the site
    </li>
    <li>
      Date and time of your visit
    </li>
    <li>
      Pages you visited
    </li>
    <li>
      Address of the website that connected you to the Site (such as google.com or bing.com)
    </li>
  </ul>

  <p>
    We use this information to understand how the Site is used, improve the
    Site, and monitor usage for security purposes. This data is stored
    separately from the personal information you submit in the Benefits
    application.
  </p>
  <p>
    We will not collect personal information from you without your knowledge
    and consent, except in a few limited circumstances as described in this
    policy.
  </p>
  <p>
    We currently retain all data indefinitely unless you specifically request
    that we delete it. You can make this request by emailing us at
    <a href="mailto:hello@codeforamerica.org">hello@codeforamerica.org</a>.
  </p>

  <h3>
    How we use your information
  </h3>
  <p>
    We only use your personal information to help you get and keep Benefits.
    For example:
  </p>

  <ul class="list--bulleted">
    <li>
      We submit your Benefits application to the Michigan Department of Health
      and Human Services.
    </li>
    <li>
      We send you a confirmation message of your Benefits application, depending
      on your contact preferences.
    </li>
    <li>
      We remind you to complete your Benefits phone interview, depending on your
      contact preferences.
    </li>
    <li>
      We remind you to submit Benefits documents, depending on your contact
      preferences.
    </li>
    <li>
      We may provide ongoing support to help you keep Benefits by reminding you
      when you have to submit income changes, complete your Semi-Annual Report,
      or complete your annual Recertification.
    </li>
  </ul>
  <p>
    We will not email you unless you consent to email communication in the
    application or you email us first, and every automated email will include a
    link to unsubscribe. We will not send you a text message unless you consent
    to text message communication in the application and you can reply 'STOP'
    to any text message to unsubscribe.
  </p>

  <h3>
    How we share your information
  </h3>
  <p>
    Once you submit your Benefits application on the Site, we share this
    information with the Michigan Department of Health and Human Services. Once
    your personal information is received by the MDHHS it is then subject to
    their respective privacy policies.
  </p>
  <p>
    We also disclose your personal information to Code for America employees,
    contractors, and affiliated organizations that need to know the information
    in order to provide the services of the Site.
  </p>
  <p>
    Besides MDHHS and individuals affiliated with the Site, we do not share your
    personal information with any other individuals or organizations, except to
    the minimal extent required by law.
  </p>

  <h3>
    How we protect your information
  </h3>
  <p>
    Protecting your personal information is extremely important to us and we
    take all reasonable measures to do so. Here are some specific security
    practices we use:
  </p>
  <ul class="list--bulleted">
    <li>
      When you enter your information on our site we encrypt the transmission
      of that information using transport layer security (TLS).
    </li>
  </ul>
  <p>
    Although we try our best to protect the privacy of your personal information,
    we cannot guarantee complete security. The transmission of information via
    the Internet is not completely secure. Unauthorized entry or use, hardware
    or software failure, and other factors, may compromise the security of user
    information at any time.
  </p>

  <h3>
    Changes
  </h3>
  <p>
    We may change this Privacy Policy from time to time. Please check this page
    frequently for updates as your continued use of this site after any changes
    in this Privacy Policy will constitute your acceptance of the changes.
  </p>

  <h3>
    Effective Date
  </h3>
  <p>
    This version of the policy is effective November 22, 2017.
  </p>

  <h3>
    Questions
  </h3>
  <p>
    If you have any questions, comments, concerns, or complaints with the Site, please contact us by phone at (415) 625-9633, or by mail at:
    Code for America
    155 9th Street
    San Francisco, CA 94103
    We will do our best to resolve the issue.
  </p>
</div>
