<% content_for :header_title, 'Expenses' %>
<div class="form-card">
  <header class="form-card__header">
    <div class="step-section-header">
      <div class="step-section-header__icon illustration illustration--section-3"></div>
      <div class="step-section-header__headline">You're halfway there!</div>
      <div class="step-section-header__subhead">
        Next, describe your household expenses.
      </div>
    </div>
  </header>
  <div class="form-card__content">
    <div class="slab slab--not-padded">
      <h3>
        In this section, we will ask you to document your expenses for things like
        housing, medicine, dependent care and more.
      </h3>
      <p class="text--help">
        Sometime soon, you’ll be asked to provide documentation for those. You can share
        photos of receipts, bills and statements on this website, or send them by mail
        or fax later.
      </p>
      <h4>
        Expenses have a big impact on increasing the amount of assistance you may
        qualify for.
      </h4>
      <p class="text--help">
        If you aren't sure about exact numbers right now — that's okay. Do your best and
        we will work with you to clarify later.
      </p>
    </div>
  </div>

  <%= render partial: 'shared/next_step_link' %>
</div>
