<% content_for :header_title, 'Expenses' %>
<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--section-3"></div>
    <div class="pre-title">You’re halfway there!</div>
    <div class="form-card__title">
      Next, describe your household expenses.
    </div>
  </header>
  <div class="form-card__content">
    <div class="slab slab--not-padded">
      <ul class="list--bulleted">
      <li>
        In this section, we will ask you to document your expenses for things like
        housing, medicine, dependent care and more.
      </li>
      <li>
        Sometime soon, you’ll be asked to provide documentation for those. You can share
        photos of receipts, bills and statements on this website, or send them by mail
        or fax later.
      </li>
      <li>
        Expenses have a big impact on increasing the amount of assistance you may
        qualify for.
      </li>
      <li>
        If you aren’t sure about exact numbers right now — that’s okay. Do your best and
        we will work with you to clarify later.
      </li>
      </ul>
    </div>
  </div>

  <%= render partial: 'shared/next_step_link' %>
</div>
