- content_for :header_title, 'Legal'

.form-card
  %header.form-card__header
    .step-section-header
      .step-section-header__subhead
        Scroll down to agree. You will sign on the next page.

  .form-card__content
    .card.legal-agreement
      %section.legal
        :ruby
          lists = [
            {
              title: 'Summary',
              items: [
                'You have been honest on this application.',
                'You agree to the terms of the privacy policy',
                <<~TEXT
                  Getting benefits will not affect your or your family’s immigration
                  status. Immigration information is private and confidential.
                TEXT
              ]
            },
            {
              title: 'Details',
              items: [
                <<~TEXT,
                  My answers to the questions are true and complete to the best of my
                  knowledge.
                TEXT
                <<~TEXT,
                  I understand that giving false or misleading statements or
                  misrepresenting, hiding or withholding facts to establish eligibility is
                  fraud. Fraud can cause a criminal case to be filed against me and/or I
                  may be barred for a period of time (or life) from getting benefits.
                TEXT
                <<~TEXT,
                  I understand that illegally using or trafficking food assistance
                  benefits is subject to the same penalties as above.
                TEXT
                <<~TEXT,
                  I understand that Social Security Numbers or immigration status for
                  household members applying for benefits may be shared with the
                  appropriate government agencies as required by federal law.
                TEXT
              ]
            }
          ]

        - lists.each do |list|
          %h3
            = list[:title]

          %ul.list--bulleted.text--small
            - list[:items].each do |item|
              %li
                %span
                  = item

  = render 'shared/next_step_link', button_label: 'I agree'
