<% content_for :header_title, 'Rights and Responsibilities' %>

<div class="form-card">
  <header class="form-card__header">
    <div class="step-section-header">
      <div class="step-section-header__subhead">
        Before you finish, read and agree to the legal terms.
      </div>
    </div>
  </header>

  <div class="form-card__content">
    <div class="textwell">
      <section class="legal">
        <%= render "terms" %>
      </section>
    </div>

    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
     <%= f.mb_radio_set :consent_to_terms,
          '',
          [{ value: true, label: "I agree" }, { value: false, label: "I do not agree" }],
          layout: "inline" %>
      <%= render 'shared/next_step' %>
    <% end %>
  </div>
</div>
