<% content_for :back_path, nil %>
<% content_for :header_title, "Success" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--success"></div>
    <div class="form-card__title">Thanks for submitting an application!</div>
  </header>

  <div class="form-card__confirmation">
  </div>
</div>
