- content_for :header_title, 'Introduction'

.form-card
  = form_for @step, as: :step, url: current_path,
    method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead Tell us the best ways to reach you.

    .form-card__content
      :ruby
        qs = [
          {
            title: 'Address',
            type: :text_field,
            method: :street_address,
            placeholder: '123 Main St.'
          },
          {
            title: 'City',
            type: :text_field,
            method: :city,
            placeholder: 'Flint'
          },
          {
            title: 'County',
            type: :text_field,
            method: :county,
            placeholder: 'Genesee'
          },
          {
            title: 'State',
            type: :text_field,
            method: :state,
            placeholder: 'MI'
          },
          {
            title: 'ZIP code',
            type: :text_field,
            method: :zip,
            placeholder: '12345'
          },
        ]

      - questions f, qs

    = render 'shared/next_step'
