<% content_for :header_title, 'Money & Income' %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Has your household had a change in income <br> in the past 30 days?
    </div>
    <p class="text--help text--centered">
      This includes change of jobs, job loss, change in hours or wages, strikes,
      etc.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_radio_set :income_change,
        '',
        [{ value: :true, label: "Yes" }, { value: :false, label: "No" }] %>
      <%= render 'shared/next_step' %>
    <% end %>
