- content_for :header_title, 'Money & Income'

.form-card
  = form_for @step, as: :step, url: income_change_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Has your household had a change in income in the past 30 days?

        %p.text--help.step-section-header__subhead-help
          This includes change of jobs, job loss, change in hours or wages, strikes, etc.

    .form-card__content
      = render 'shared/question',
        f: f,
        type: :yes_no,
        method: :income_change,
        title: 'Income change',
        label_hidden: true

    = render 'shared/next_step'
