<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Do you receive mail at your current residential address?
    </div>
  </header>

  <%= render 'shared/yes_no_form',
    step: @step,
   field: :mail_sent_to_residential %>
</div>
