<% content_for :header_title, "Healthcare" %>

<% content_for :form_card_header do %>
  <h1 class="form-card__title tooltip" <%= tooltip_title "Use plain language and avoid jargon. Applicants who don’t regularly file taxes may be unfamiliar with terms like “tax dependent”." %>>
    Will you file taxes this year?
  </h1>
<% end %>

<% content_for :form_card_body do %>
    <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
        <%= f.mb_yes_no_buttons :filing_taxes_next_year,
          yes_value: "yes",
          no_value: "no"
        %>
    <% end %>
<% end %>

<% content_for :skip_footer, true %>
