<% content_for :header_title, "Contact Preferences" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--section-4"></div>
    <div class="pre-title">Almost done!</div>
    <div class="form-card__title">
      Let’s stay in touch so you don’t miss a thing!
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>
    <%= f.mb_radio_set(
      :sms_consented,
      "Would you like text message reminders about key steps and documents required to help you through the enrollment process?",
      [{ value: :true, label: "Yes" }, { value: :false, label: "No" }]) %>

    <p class='text--secure'>
    <i class='illustration illustration--safety'></i>
    No matter what, you will receive all official notices and legal information
    via post mail.
    </p>
    <%= render "shared/next_step" %>
  <% end %>
</div>
