.demo-banner {
  @include full-bleed();
  position: relative;
  z-index: 2;
  background-color: $color-dark-sky;
  padding: .5em;
  text-align: center;
  font-size: $font-size-small;
  color: #FFFFFF;
}
/* Used for warning users on the staging instance */
.demo-banner.staging-warning {
  background-color: $color-bright-yellow;
  color: black;
  a {
    color: inherit;
  }
}