.uploadable-preview-container {
  padding-bottom: 1em;
}

.uploadable-preview {
  @include clearfix();
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid $color-tan;
}

.uploadable-preview__info {
  display: block;
  margin-right: 150px;
  min-height: 75px;
}

.uploadable-preview__thumb {
  background-size: cover;
  border-radius: $border-radius;
  height: 75px;
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
}
