.doc-preview-container {
  padding-bottom: 1em;
}

.doc-preview {
  @include clearfix();
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid $color-tan;
}

.doc-preview__info {
  display: block;
  margin-right: 150px;
  min-height: 75px;
}

.doc-preview__thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  border: 1px solid $color-tan;
  border-radius: $border-radius;
}

.document-upload {
  .form {
    &__documentuploader {
      border-width: 1px;
      border-color: $color-tan;
      border-style: solid;
      margin-bottom: 0.5em;
      padding: 1em;
      text-align: center;
      width: 100%;
      line-height: normal;

      &:hover {
        background-color: $color-light-grey;
      }
    }
  }
}
