.doc-preview-container {
  padding-bottom: 1em;
}

.doc-preview {
  @include clearfix();
  position: relative;
  padding-top: 1em;
  border-top: solid 1px $color-tan;
}

.doc-preview__info {
  display: block;
  margin-right: 150px;
  min-height: 75px;
}

.doc-preview__thumb {
  position: absolute;
  top: .5em;
  right: 0;
  width: 75px;
  height: 75px;
  border: 1px solid $color-tan;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
}
