<% content_for :header_title, 'Money & Income' %>

<div class='form-card'>
  <header class='form-card__header'>
    <div class="illustration illustration--section-2"></div>
    <div class='pre-title'>
      You’re doing great!
    </div>
    <div class='form-card__title'>
      Next, describe your financial situation for us.
    </div>
  </header>

  <div class='form-card__content'>
    <div class='slab slab--not-padded'>
      <p>
      In the next section, we will ask you for information about money you
      receive and valuable things you may own.
      </p>
      <p>
        This information is key to determine the benefits you're household
        is eligible for.
      </p>
      <p>
      If you aren't sure about exact numbers right now — that's okay.
      Do your best and we will work with you to clarify later.
      </p>

    <%= render partial: 'shared/next_step_link' %>
    </div>
  </div>
</div>
