<div class="step-header">
  <a href="/pages/medicaid/contact" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Contact Information &amp; Follow Up
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Is there somewhere we can reliably send you mail?
    </div>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :reliable_mail_address %>
</div>

<!-- https://trello.com/c/QwrCdRgF/29-do-you-receive-mail-at-your-residential-address -->
