<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Is there somewhere we can reliably send you mail?
    </div>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :reliable_mail_address %>
</div>

<!-- https://trello.com/c/QwrCdRgF/29-do-you-receive-mail-at-your-residential-address -->
