<% content_for :header_title, "Documents" %>

<div class="form-card" id="uploadables-drop">
  <header class="form-card__header">
    <div class="form-card__title">
      Lastly, we suggest including some documents if you can right now.
    </div>
  </header>

  <div class="form-card__content">
    <div class="text--centered">
      <p>
        You can do this later but this will help speed up the process.
      </p>
    </div>

    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <div class="text--centered">
        <%= link_to skip_path, class: "button button--full-mobile" do %>
          I'll do this later
        <% end %>

        <%= link_to next_path, class: "button button--full-mobile button--cta" do %>
          Submit documents now
        <% end %>
      </div>
    <% end %>

    <p class='text--secure'>
      <i class='illustration illustration--safety'></i>
      Both MichiganBenefits.org and MDHHS maintain strict security guidelines
      to protect the identities of Michigan residents.
    </p>

    <div class='slab'>
      <%= render 'shared/commonly_requested_uploadables',
        uploadable_name: "documents" %>
    </div>
  </div>
</div>
