<% content_for :header_title, "Paperwork" %>

<div class="form-card" id="uploadables-drop">
  <header class="form-card__header">
    <div class="pre-title">
      Almost done!
    </div>
    <div class="form-card__title">
      Do you have paperwork with you?
    </div>
  </header>

  <div class="form-card__content">
    <p>
      This includes documents like IDs, proof of income, and proof of
      expenses.
    </p>
    <p>
      After reviewing your application, staff will five you a list of
      exactly what paperwork you need to provide. However,
      <strong>we recommend uploading anything you have with you now</strong>.
      It will help your application get processed faster
    </p>
  </div>

  <footer class="form-card__footer">
    <%= link_to next_path, class: "button button--full-mobile button--cta" do %>
        Upload paperwork now
    <% end %>

    <%= link_to skip_path, class: "button button--full-mobile" do %>
      I'll do this later
      <span class="icon-arrow_forward"></span>
    <% end %>
  </footer>
</div>
