<% content_for :header_title, "Document Guide" %>

<div class="form-card" id="document-drop">
  <header class="form-card__header">
    <div class="form-card__title">
      Lastly, we suggest including some documents if you can right now.
    </div>
  </header>

  <div class="form-card__content">
    <div class="text--centered">
      <p>
        You can do this later but this will help speed up the process.
      </p>
      <p>
        The following page will allow you to both upload photos of your documents
        with your phone, as well as submit files you already have on your
        computer or mobile phone/tablet.
      </p>
    </div>

    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <div class="text--centered">
        <%= link_to next_path, class: "button button--next button--cta" do %>
          Submit documents here
        <% end %>

        <%= link_to skip_path, class: "button" do %>
          I'll do this later
        <% end %>
      </div>
    <% end %>

    <div class='slab'>
      <%= render 'shared/commonly_requested_documents' %>
    </div>
  </div>
</div>
