<div class="step-header">
  <a href="/pages/medicaid/amounts_self_employment" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Income &amp; Expense Amounts
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us the specific income received from your [other income type].</div>
    <p class="text--help text--centered">
      If you don't know the exact number, that's okay. These questions aren't
      required. However, your income determines the benefits you are eligible for.
    </p>
  </header>

  <div>
    <label class="form-question" for="example_text">Average total monthly income</label>
    <input type="text" class="text-input" placeholder="$">
  </div>

  <!-- Replace with partial -->
  <footer class="form-card__button_right">
    <a href="/pages/medicaid/amounts_loan_interest" class="button button--nav button--nav-center button--cta button--full-width">
      Next
    </a>
  </footer>
</div>

<!-- https://trello.com/c/Q79fWjze/74-tell-us-the-specific-income-received-from-members-current-job-employment-other-income-all-asked-on-same-page -->
