<div class="step-header">
  <a href="/pages/medicaid/contact" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Contact
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Is there somewhere we can reliably send you mail?</div>
  </header>

  <div class="form-card__content">

    <!-- Replace with partial -->
    <footer class="form-card__buttons">
      <a href="/pages/medicaid/contact_homeless" class="button button--nav button--full-width">
        No
      </a>

      <a href="/pages/medicaid/contact_current_address" class="button button--nav button--cta button--full-width">
        Yes
      </a>
    </footer>
  </div>
</div>
