<div class="step-header">
  <a href="/pages/medicaid/contact_ss_dob" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Contact
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What is your social security number and birthday?</div>
  </header>

  <div class="form-card__content">
    <label class="form-question">Social Security</label>
    <input type="text" class="text-input">

    <div class="form-card__select">
      <label class="form-question" for="example_text">Birthday</label>
      <div class="select">
        <select class="select__element" name="example_select" id="example_select">
          <option selected disabled>Month</option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="2">March</option>
          <option value="1">April</option>
          <option value="2">May</option>
          <option value="2">June</option>
          <option value="1">July</option>
          <option value="2">August</option>
          <option value="2">September</option>
          <option value="1">October</option>
          <option value="2">November</option>
          <option value="2">December</option>
        </select>
      </div>

      <div class="select">
        <select class="select__element" name="example_select" id="example_select">
          <option selected disabled>Day</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="2">3</option>
          <option value="1">4</option>
          <option value="2">5</option>
          <option value="2">6</option>
          <option value="1">7</option>
          <option value="2">8</option>
          <option value="2">9</option>
          <option value="1">10</option>
          <option value="2">11</option>
          <option value="2">12</option>
          <option value="1">13</option>
          <option value="2">14</option>
          <option value="2">15</option>
          <option value="1">16</option>
          <option value="2">17</option>
          <option value="2">18</option>
          <option value="1">19</option>
          <option value="2">20</option>
          <option value="2">21</option>
          <option value="1">22</option>
          <option value="2">23</option>
          <option value="2">24</option>
          <option value="1">25</option>
          <option value="2">26</option>
          <option value="2">27</option>
          <option value="1">28</option>
          <option value="2">29</option>
          <option value="2">30</option>
          <option value="2">31</option>
        </select>
      </div>

      <div class="select">
        <select class="select__element" name="example_select" id="example_select">
          <option selected disabled>Year</option>
          <option value="1">1940</option>
          <option value="2">1941</option>
          <option value="2">1942</option>
          <option value="1">1943</option>
          <option value="2">1944</option>
          <option value="1">1945</option>
          <option value="2">1946</option>
          <option value="2">1947</option>
          <option value="1">1948</option>
          <option value="2">1949</option>
          <option value="1">1950</option>
          <option value="2">1951</option>
          <option value="2">1952</option>
          <option value="1">1953</option>
          <option value="2">1954</option>
          <option value="1">1955</option>
          <option value="2">1956</option>
          <option value="2">1957</option>
          <option value="1">1958</option>
          <option value="2">1959</option>
          <option value="1">1960</option>
          <option value="2">1961</option>
          <option value="2">1962</option>
          <option value="1">1963</option>
          <option value="2">1964</option>
          <option value="1">1965</option>
          <option value="2">1966</option>
          <option value="2">1967</option>
          <option value="1">1968</option>
          <option value="2">1969</option>
          <option value="1">1970</option>
          <option value="2">1971</option>
          <option value="2">1972</option>
          <option value="1">1973</option>
          <option value="2">1974</option>
          <option value="1">1975</option>
          <option value="2">1976</option>
          <option value="2">1977</option>
          <option value="1">1978</option>
          <option value="2">1979</option>
          <option value="1">1980</option>
          <option value="2">1981</option>
          <option value="2">1982</option>
          <option value="1">1983</option>
          <option value="2">1984</option>
          <option value="1">1985</option>
          <option value="2">1986</option>
          <option value="2">1987</option>
          <option value="1">1988</option>
          <option value="2">1989</option>
          <option value="1">1990</option>
          <option value="2">1991</option>
          <option value="2">1992</option>
          <option value="1">1993</option>
          <option value="2">1994</option>
          <option value="1">1995</option>
          <option value="2">1996</option>
          <option value="2">1997</option>
          <option value="1">1998</option>
          <option value="2">1999</option>
        </select>
      </div>
    </div>

    <div class="form-card__content">
      <p class='text--secure'><i class='illustration illustration--safety'></i>Social security numbers help ensure you receive the correct benefits. MDHHS maintains strict security guidelines to protect the identities of our residents.</p>
    </div>
  </div>

    <!-- Replace with partial -->
  <footer class="form-card__button_right">
    <a href="/pages/medicaid/confirmation" class="button button--nav button--nav-center button--cta button--full-width">
      Next
    </a>
  </footer>
</div>
