<div class="step-header">
  <a href="/pages/medicaid/income_self_employment" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Current Income
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Do you get income that's not from a job?</div>
    <p class="text--help text--centered">
      We’ll ask you about specific amounts you earn later.
    </p>
  </header>

  <div class="form-card__content">
    <!-- Replace with partial -->
    <footer class="form-card__buttons">
      <a href="/pages/medicaid/expenses_student_loan" class="button button--nav button--full-width">
        No
      </a>

      <a href="/pages/medicaid/income_other_income_type" class="button button--nav button--cta button--full-width">
        Yes
      </a>
    </footer>
  </div>
</div>

<!-- https://trello.com/c/tXO2ckrd/50-do-you-get-income-thats-not-from-a-job -->
