<h4 class="step-header step-header__title--centered">Introduction</h4>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Do you currently reside in Michigan?</div>
  </header>

  <div class="form-card__content">
    <!-- Replace with partial -->
    <footer class="form-card__buttons">
      <a href="" class="button button--nav button--full-width">
        No
      </a>

      <a href="/pages/medicaid/intro_name" class="button button--nav button--cta button--full-width">
        Yes
      </a>
    </footer>
  </div>
</div>
