<div class="step-header">
  <a href="#" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Success
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Lastly, we suggest including some paperwork if you can right now.
    </div>
    <p class="text--help text--centered">
      You can do this later, but this will help speed up the process. You can
      upload them from your computer or take a picture using your smartphone's
      camera. We suggest submitting documents like a copy of your ID, proof of
      income, or proof of residency.
    </p>
  </header>

  <div class="form-card__content">
    <p class='text--secure'>
      <i class='illustration illustration--safety'></i>
        Both MichiganBenefits.org and MDHHS maintain
        strict security guidelines to protect the identities of Michigan residents.
    </p>
  </div>

  <footer class="form-card__buttons">
    <a href="#" class="button button--full-width">
      I'll do this later
    </a>

    <a href="#" class="button button--cta button--full-width">
      Submit paperwork now
    </a>
  </footer>
</div>
