- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: household_tax_how_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Describe how your household files taxes.
        %p.text--help.step-section-header__subhead-help
          If you aren't sure how your household files taxes right now, it is okay to skip these questions. We'll help you answer later.

    .form-card__content
      - fields_for_each_member(f, @step.household_members) do |ff, member|
        = render 'shared/question',
          f: ff,
          type: :radios,
          method: :filing_status,
          title: header_name(member),
          options: HouseholdMember::FILING_STATUSES.map(&:to_s)

    = render 'shared/next_step'
