- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: household_tax_how_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Describe how your household files taxes.
        %p.text--help.step-section-header__subhead-help
          If you aren't sure how your household files taxes right now, it is okay to skip
          these questions. We'll help you answer later.

    .form-card__content
      - fields_for_each_member(f, @step.household_members) do |ff, member|
        - header = header_name(member)

        .household-member-group{ 'data-md5': data_md5(header) }
          = ff.label :filing_status, header, class: 'form-question'

          = render 'shared/question',
            f: ff,
            type: :radios,
            method: :filing_status,
            title: 'filing status',
            options: HouseholdMember::FILING_STATUSES.map(&:to_s)

    = render 'shared/next_step'
