<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="pre-title">Hello, <%= current_application.primary_member.first_name %>!</div>
    <div class="form-card__title">Now tell us about any other people residing
      in your household.
    </div>
    <p class="text--help text--centered">
      This includes everyone who lives in your home (including you), even if
      they are not seeking benefits today. Include room-mates that are not family.
    </p>
  </header>

  <div class="form-card__content">
    <div class="slab slab--not-padded">
      <div class="card card--narrow">
        <p>
          <i class="button__icon--left icon-check icon-check--color"></i>
          <%= "#{@step.primary_member.display_name} (That’s you!)" %>
        </p>
        <% @step.non_applicant_members.each do |member| %>
            <div>
              <p>
                <i class="button__icon--left icon-check icon-check--color"></i>
                <%= "#{member.display_name}" %>
              </p>
            </div>
        <% end %>

        <%= link_to(
          decoded_step_path(step: Medicaid::IntroHouseholdMemberController),
          class: 'button button-full-width button-bold') do %>
          <i class="button__icon--left icon-add"></i>
          Add a member
        <% end %>

      </div>
    </div>
  </div>

  <footer class="form-card__button_right">
    <a href="/steps/medicaid/intro-college" class="button button--nav  button--cta button--full-width">
      Next
    </a>
  </footer>
</div>
