<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Now tell us about any other people residing
      in your household.
    </div>
    <p class="text--help text--centered">
      This includes everyone who lives in your home (including you), even if
      they are not seeking benefits today. Include room-mates that are not family.
    </p>
  </header>

  <div class="form-card__content">
    <div class="slab slab--not-padded">
      <div class="card card--narrow">
        <p>
          <i class="button__icon--left icon-check icon-check--color"></i>
          Harriett Fletcher (That's you!)
        </p>

        <a href="/pages/medicaid/intro_household_member" class="button button-full-width button-bold">
          <i class="button__icon--left icon-add"></i>
          Add a member
        </a>

      </div>
    </div>
  </div>

  <!-- Replace with partial -->
  <footer class="form-card__button_right">
    <a href="/pages/medicaid/intro_college" class="button button--nav  button--cta button--full-width">
      Next
    </a>
  </footer>
</div>

<!-- https://trello.com/c/S27mRrP9/67-now-tell-us-about-any-other-people-residing-in-your-household -->
