.tooltipster-sidetip .tooltipster-content {
  font-size: $font-size-small;
  background-color: $color-magenta;
  line-height: 24px;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: $color-magenta;
}
