<% content_for :header_title, "Healthcare" %>

<% content_for :form_card_title, "Thanks for letting us know who needs what." %>

<% content_for :form_card_body do %>
  <p>Next, we'll ask you questions about how you file taxes to help us understand who is eligible.</p>
<% end %>
