.card {
  border: 2px solid $color-tan;
  padding: 1.5em $site-margins/2;
  background-color: #FFFFFF;
  margin-bottom: 0;
  > *:last-child {
    margin-bottom: 0;
  }

  @include media($tablet-up) {
    padding: 1.5em $site-margins;
    margin-bottom: 2em;
  }

  &--narrow {
    border-width: 0;
    width: 100%;

    @include media($tablet-up) {
      max-width: $mobile-up;
      margin: 1.5em auto;
    }
  }
}
