.illustration {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  &--compact {
    margin-bottom: 0;
  }

  &--michigan-gov {
    @include retina-bg(michigan-gov, 144.76px 33.03px);
    margin-left: 0;
    width: 144.76px;
    height: 33.03px;
  }

  &--mdhhs {
    @include retina-bg(mdhhs, 160px 60px);
    margin-left: 0;
    width: 160px;
    height: 60px;
  }

  &--cfa {
    @include retina-bg(cfa, 101px 41px);
    margin-left: 0;
    width: 101px;
    height: 41px;
  }

  &--civilla {
    @include retina-bg(civilla, 86px 31px);
    margin-left: 0;
    width: 86px;
    height: 31px;
  }

  &--icn_cash {
    @include retina-bg(icn_cash, 50px 50px);
    width: 50px;
    height: 50px;
  }

  &--icn_childcare {
    @include retina-bg(icn_childcare, 50px 50px);
    width: 50px;
    height: 50px;
  }

  &--icn_food {
    @include retina-bg(icn_food, 50px 50px);
    width: 50px;
    height: 50px;
  }

  &--icn_health {
    @include retina-bg(icn_health, 50px 50px);
    width: 50px;
    height: 50px;
  }

  &--icn_ser {
    @include retina-bg(icn_ser, 50px 50px);
    width: 50px;
    height: 50px;
  }

  &--hello {
    @include retina-bg(hello, 213px 137px);
    width: 213px;
    height: 137px;
  }

  &--celebrate {
    @include retina-bg(celebrate, 134px 134px);
    width: 134px;
    height: 134px;
  }

  &--success {
    @include retina-bg(success, 248px 153px);
    width: 248px;
    height: 153px;
  }

  &--interview {
    @include retina-bg(interview, 90px 79px);
    width: 90px;
    height: 79px;
  }

  &--submit-docs {
    @include retina-bg(submit-docs, 103px 70px);
    width: 103px;
    height: 70px;
  }

  &--safety {
    @include retina-bg(safety, 18px 22px);
    width: 18px;
    height: 22px;
  }

  &--section-1 {
    @include retina-bg(section-1, 236px 128px);
    width: 236px;
    height: 128px;
  }

  &--section-2 {
    @include retina-bg(section-2, 213px 128px);
    width: 213px;
    height: 128px;
  }

  &--section-3 {
    @include retina-bg(section-3, 213px 128px);
    width: 213px;
    height: 128px;
  }

  &--section-4 {
    @include retina-bg(section-4, 236px 128px);
    width: 236px;
    height: 128px;
  }
}
