.illustration {
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.illustration--michigan-gov {
  @include retina-bg(michigan-gov, 144.76px 33.03px);
  margin-left: 0;
  width: 144.76px;
  height: 33.03px;
}

.illustration--mdhhs {
  @include retina-bg(mdhhs, 160px 60px);
  margin-left: 0;
  width: 160px;
  height: 60px;
}

.illustration--cfa {
  @include retina-bg(cfa, 101px 41px);
  margin-left: 0;
  width: 101px;
  height: 41px;
}

.illustration--civilla {
  @include retina-bg(civilla, 86px 31px);
  margin-left: 0;
  width: 86px;
  height: 31px;
}
