.label {
  display: inline-block;
  font-size: 12px;
  background-color: $color-dark-grey;
  color: #fff;
  font-weight: 600;
  border-radius: 7em;
  padding: 5px 1em;
  line-height: 1.4em;
  position: relative;
  top: -.1em;
  margin-top: 1em;
}

.label--magenta {
  background-color: $color-magenta;
}

.label--teal {
  background-color: $color-teal;
}

.label--green {
  background-color: $color-green;
}

.label--orange {
  background-color: $color-orange;
}

.label--red {
  background-color: $color-red;
}

.label--food-assistance {
  background-color: #FFEFE6;
  color: #FF9257;
}

.label--healthcare {
  background-color: #E7E4F6;
  color: #8778CF;
}
