- content_for :header_title, 'Money & Income'

.form-card
  = form_for @step, as: :step, url: current_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Check all additional sources of income received by your household, if any.

    .form-card__content
      :ruby
        checkboxes = {
          unemployment: 'Unemployment Insurance',
          ssi: 'SSI or Disability',
          workers_comp: "Worker's Compensation",
          pension: 'Pension',
          social_security: 'Social Security',
          child_support: 'Child Support',
          foster_care: 'Foster Care or Adoption Subsidies',
          other: 'Other Income'
        }

      - checkboxes.each do |method, title|
        = render 'shared/question',
          f: f,
          type: :checkbox,
          method: method,
          title: title,
          form_classes: ['no-bottom-space']

    = render 'shared/next_step'
