<% content_for :header_title, "Money & Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Check all additional sources of income received by your household, if
      any.
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_checkbox_set(
        [
          { label: "Unemployment Insurance", method: :unemployment_insurance },
          { label: "SSI or Disability", method: :ssi_or_disability },
          { label: "Worker's Compensation", method: :workers_compensation },
          { label: "Pension", method: :pension },
          { label: "Social Security", method: :social_security },
          { label: "Child Support", method: :child_support },
          { label: "Foster Care or Adoption Subsidies", method: :foster_care },
          { label: "Other Income", method: :other },
        ],
        label_text: "",
      ) %>
    <%= render 'shared/next_step' %>
    <% end %>
  </div>
</div>
