<% content_for :header_title, "Money & Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("snap.income_additional_sources.edit.title") %>
    </div>
    <p class="text--help text--centered">
      If you don't have additional income, just click Continue.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_checkbox_set( :additional_income,
        [
          { label: "Unemployment Insurance", method: :unemployment_insurance },
          { label: "SSI or Disability", method: :ssi_or_disability },
          { label: "Worker’s Compensation", method: :workers_compensation },
          { label: "Pension", method: :pension },
          { label: "Social Security", method: :social_security },
          { label: "Child Support", method: :child_support },
          { label: "Other Income", method: :other },
        ],
        label_text: t("snap.income_additional_sources.edit.title"),
        legend_class: "sr-only",
      ) %>
    <%= render "shared/next_step" %>
    <% end %>
  </div>
</div>
