- content_for :header_title, 'Money & Income'

.form-card
  = form_for @step, as: :step, url: income_change_explanation_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          In your own words, tell us about the recent change in your household's
          income.
        %p.text--help.step-section-header__subhead-help
          This will help us understand how to interpret other financial information.

    .form-card__content
      = render 'shared/question',
        f: f,
        type: :text_area,
        method: :income_change_explanation,
        title: 'Explanation',
        placeholder: 'Explain here',
        label_hidden: true

    = render 'shared/next_step'
