<div class="step-header">
  <a href class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Introduction
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Before we get started, do you currently reside in Michigan?
    </div>

    <p class="text--help text--centered">
      If not, we'll help point you in the right direction. However, this
      application for health coverage is specifically for current residents of
      Michigan.
    </p>
  </header>

  <%= form_for @step,
    as: :step,
    builder: MbFormBuilder,
    url: current_path,
    method: :put do |f| %>

    <div class="form-card__content">
      <footer class="form-card__buttons">
        <%= f.mb_boolean_buttons :michigan_resident %>
      </footer>
    </div>

  <% end %>
</div>
