%max-container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.form-card {
  @extend %max-container;
  margin-bottom: 2em;
}

.form-card__title {
  font-weight: 600;
  text-align: center;
}

.form-card__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: $padding-med;
}

.form-card__button_right {
  display: flex;
  justify-content: flex-end;
  padding-top: $padding-med;
}

.pre-title {
  font-weight: 600;
  color: $color-sky;
  text-align: center;
}
