%max-container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.form-card {
  @extend %max-container;
  @include clearfix;
  margin-bottom: $padding-small;
}

.form-card__title {
  font-weight: 600;
  text-align: center;
}

.form-card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $padding-med;

  @include media($mobile-up) {
    flex-direction: row;
  }
}

.form-card__button_right {
  display: flex;
  justify-content: flex-end;
  padding-top: $padding-med;
}

.form-card__button_centered {
  text-align: center;
}

.pre-title {
  font-weight: 600;
  color: $color-sky;
  text-align: center;
}

.form-card__select {
  margin-top: $padding-med;
}

.form-card__confirmation {
  margin-bottom: $padding-med;
  p {
    margin-bottom: 0;
  }
}

.form-card--meta-data {
  margin-bottom: $padding-small;
  text-align: center;

  @include media($tablet-up) {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.form-card--security-message {
  color: $color-grey;
  display: inline-block;
  font-size: $font-size-smallest;

  &:before {
    content: "\e899";
    display: inline-block;
    font-family: $font-icon;
    margin-right: .5em;
   }
}

.form-card--benefit-label {
  color: $color-grey;
  font-size: $font-size-smallest;

  @include media($tablet-up) {
    float: right;
  }
}
