.main-footer {
  font-weight: 300;
}

.main-footer {
  .illustration--cfa, .illustration--civilla {
    float: left;
    margin-top: 46px;
  }

  .illustration--civilla {
    margin-left: 2rem;
  }
}
