.main-footer {
  font-weight: 300;

  .text--small {
    clear: both;
  }

  .illustration--cfa, .illustration--civilla {
    float: left;
    margin-top: 50px;
  }

  .illustration--civilla {
    margin-left: 2rem;
  }
}

.footer--office-links {
  .footer--office-links-header {
    font-weight: 600;
  }

  a {
    color: $color-grey;
    display: block;
  }
}

.footer--meta-data {
  margin-bottom: $padding-small;
  text-align: center;

  @include media($tablet-up) {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.footer--security-message {
  color: $color-grey;
  display: inline-block;
  font-size: $font-size-smallest;

  &:before {
    content: "\e899";
    display: inline-block;
    font-family: $font-icon;
    margin-right: .5em;
   }
}

.footer--benefit-label {
  color: $color-grey;
  font-size: $font-size-smallest;

  @include media($tablet-up) {
    float: right;
  }
}
