.main-footer {
  font-weight: 300;
  height: $footer-height*1.2;

  @include media($tablet-up) {
    height: $footer-height;
  }

  .text--small {
    clear: both;
  }

  .illustration--cfa, .illustration--civilla {
    float: left;
    margin-top: 50px;
  }

  .illustration--civilla {
    margin-left: 2rem;
  }
}

.footer--office-links {
  .footer--office-links-header {
    font-weight: 600;
  }

  a {
    color: $color-grey;
    display: block;
  }
}