.step-header {
  align-items: center;
  background-color: $color-sky;
  border-bottom: 2px solid $color-dark-sky;
  color: $color-white;
  display: flex;
  font-size: $font-size-small;
  height: $step-header-height;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;

  @include media($tablet-up) {
    + .form-card {
      margin-top: $site-margins / 2;
    }
  }

  &__back-link {
    color: inherit;
    height: 40px;
    margin-left: 0;
    padding: 6px 10px;
    position: absolute;
    text-decoration: none;
    top: 7px;
    width: 100px;

    &:active,
    &:visited {
      color: inherit;
    }

    span {
      display: none;

      @include media($tablet-up) {
        display: inline-block;
      }
    }

    i {
      float: left;
      line-height: 1.5;
      margin-right: 10px;
    }
  }

  &__title {
    @include margin(0 0 0 10px);
    flex: 1;
    font-size: $font-size-small;
    text-align: left;
  }

  &__title--centered {
    justify-content: center;
    text-align: center;
  }
}
