.step-header {
  align-items: center;
  background-color: $color-sky;
  border-bottom: 2px solid $color-dark-sky;
  color: $color-white;
  display: flex;
  font-size: $font-size-small;
  height: $step-header-height;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;

  @include media($tablet-up) {
    + .form-card {
      margin-top: $site-margins / 2;
    }
  }

  &__back-link {
    color: inherit;
    height: 40px;
    margin-left: 0;
    padding: 6px 10px;
    position: relative;
    text-decoration: none;
    top: 2px;
    width: 40px;

    &:active,
    &:visited {
      color: inherit;
    }
  }

  &__title {
    @include margin(0 0 0 10px);
    flex: 1;
    font-size: $font-size-small;
    text-align: left;
  }

  &__title--centered {
    justify-content: center;
  }

  &__benefit-label {
    @include margin(0 $padding-med 0 0);
    display: none;
    font-size: $font-size-smallest;

    @include media($mobile-up) {
      display: flex;
    }

    @include media($tablet-up) {
      font-size: $font-size-small;
    }
  }
}
