<% content_for :header_title, "Current Expenses" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t "medicaid.expenses_alimony.edit.title", count: @step.members_count %>
    </div>
  </header>

  <%= render 'shared/yes_no_form',
    step: @step,
    field: :anyone_pay_child_support_alimony_arrears %>
</div>
