<% content_for :header_title, "Current Expenses" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Do you pay child support, alimony or arrears?
    </div>
  </header>

  <%= render 'shared/yes_no_form',
    step: @step,
    field: :pay_child_support_alimony_arrears %>
</div>

<!-- Single-member copy: https://trello.com/c/VoxppHxk/47-do-you-pay-child-support-alimony-or-arrears -->
