.attachment-preview {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;

  &__delete {
    display: block;
    color: $color-red;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }

  img {
    border: 1px solid $color-tan;
    padding: 1px;
    width: 80px;
    height: 80px;
  }
}
