.step-header {
  width: 100%;
  height: $step-header-height;
  background-color: $color-sky;
  border-bottom: 2px solid shade($color-sky, 15%);
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 2rem;

  &__burger {
    width: 40px;
    height: 40px;
    background-color: $color-orange;
  }

  &__title {
    margin: 0;
    margin-left: 2rem;
  }
}
