.step-header {
  width: 100%;
  height: $step-header-height;
  background-color: $color-sky;
  border-bottom: 2px solid shade($color-sky, 15%);
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 9999;

  &__back-link {
    color: inherit;
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: $font-size-h4;
    position: relative;
    top: -2px;

    &:active, &:visited {
      color: inherit;
    }
  }

  &__title {
    margin: 0;
    margin-left: 1.5rem;
  }
}
