$element-margin-top: 5rem;

.step-section-header {
  text-align: center;

  &__headline {
    @extend h4;
    color: $color-sky;
  }

  &__subhead {
    @extend h3;
    font-weight: bold;
    margin: 0;

    &--standalone {
      text-align: left;
    }
  }

  &__subhead-help {
    text-align: left;
    margin-top: 1rem;
  }
}
