.tab-bar {
  @include clearfix();
  @include full-bleed();

  border-bottom: 2px solid $color-tan;
  font-size: $font-size-small;
  margin-top: 1em;
}

.tab-bar__tab {
  background-color: rgba($color-tan, 0.25);
  border: 2px solid $color-tan;
  color: $color-dark-grey;
  display: block;
  float: left;
  margin-bottom: -2px;
  margin-right: 0.5em;
  min-width: 8em;
  padding: 0.5em 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: rgba($color-teal, 0.1);
    color: $color-dark-grey;
  }
}

%tab-is-selected {
  background-color: $color-background;
  color: #000000;
  font-weight: 600;
  z-index: 2;

  &:before {
    background-color: $color-background;
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
  }
}

$controllerclasses:
"admin_calfresh_applications",
"admin_campaign_subscriptions",
"admin_cbos",
"admin_daily_drives",
"admin_later_document_submitters",
"admin_enrollment_survey_reports",
"admin_state_outcome_reports",
"cbos",
"cbos_analytics",
"cbos_assisters";

@each $controllerclass in $controllerclasses {
  .tab-bar.tab--#{$controllerclass}__active .tab--#{$controllerclass} {
    @extend %tab-is-selected;
  }
}
