<% content_for :header_title, "Quick Health Questions" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.health_disability.edit.title",
            count: current_application.members.count) %>
    </div>
    <p class="text--help text--centered">
      This can include living in a nursing home or other medical facility or a
      physical, mental, or emotional health condition that limits activity.
    </p>
  </header>

  <%= render "shared/yes_no_form",
    step: @step,
    field: :disabled %>
</div>
