<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <h1 class="form-card__title">Welcome</h1>
  </header>

  <div class="form-card__content">
    <%= render "integrated/next_step_link" %>
  </div>
</div>
