- content_for :header_title, 'Introduction'

.form-card
  = form_for @step, as: :step, url: introduction_introduce_yourself_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        - icon :hello
        .step-section-header__headline We're here to help.
        .step-section-header__subhead To start, please introduce yourself.

    .form-card__content
      = render 'shared/question',
        f: f,
        title: "What is your first name?",
        type: :text_field,
        method: :first_name,
        placeholder: "First name"

      = render 'shared/question',
        f: f,
        title: "What is your last name?",
        type: :text_field,
        method: :last_name,
        placeholder: "Last name"

    = render partial: 'shared/next_step'