<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Are you currently homeless?</div>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :homeless %>
</div>

<!-- https://trello.com/c/QwrCdRgF/29-do-you-receive-mail-at-your-residential-address -->
