<% content_for :back_path, nil %>
<% content_for :header_title, "Confirmation" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--success"></div>
    <div class="form-card__title">Thanks for submitting an application!</div>
    <p class="text--help text--centered">
      Here is a summary of the information that you are submitting. To follow up
      with your application, you can call 1-800-642-3195.
    </p>
  </header>

  <div class="form-card__confirmation">
  </div>

  <footer class="form-card__buttons">
    <%= link_to "Back to Home", dual_index_path, class: "button button--full-width button--cta button--nav button--nav-center" %>
  </footer>
</div>
