<% content_for :back_path, nil %>
<% content_for :header_title, "Confirmation" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--success"></div>
    <div class="form-card__title">Thanks for submitting an application!</div>

    <p class="text--help text--centered">
      The next is to submit any paperwork you have on hand. You can do this
      later, but this will help speed up the process. We suggest you submit as
      much as you can now.<br>
      <br>

      Would you like to submit paperwork now?
    </p>
  </header>

  <div class="form-card__confirmation">
  </div>

  <%= render 'shared/yes_no_form', step: @step, field: :upload_paperwork %>
</div>
