<% content_for :header_title, "Confirmation" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Thanks for submitting an application!</div>
    <p class="text--help text--centered">
      Here is a summary of the information that you are submitting. To follow up
      with your application, you can call 123-234-3456.
    </p>
  </header>

  <div class="form-card__confirmation">
    <p class="text--help text--centered">
      Date: October 4, 2017
    </p>

    <p class="text--help text--centered">
      Applicant(s): Harriett Fletcher
    </p>

    <p class="text--help text--centered">
      Benefits: Medicaid
    </p>
  </div>

  <p class="text--centered">
     The next step is to submit any paperwork you have on hand. Later you'll be
     provided with a full list of all the paperwork you'll need to share. Would
     you like to submit documents now?
  </p>

  <!-- Replace with partial -->
  <footer class="form-card__buttons">
    <a href="#" class="button button--full-width">
      Back to Home
    </a>

    <a href="#" class="button button--cta button--full-width">
      Learn which documents to submit
    </a>
  </footer>
</div>

<!-- https://trello.com/c/uD60H05s/35-thanks-for-submitting-an-application -->
