<% content_for :header_title, "Quick Tax Question" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Do you plan on filing a federal tax return next year?
    </div>
    <p class="text--help text--centered">
      Some households don’t file based on their income.
    </p>
  </header>

  <%= render 'shared/yes_no_form',
    step: @step,
    field: :filing_federal_taxes_next_year %>
</div>
