<% content_for :header_title, "Health Coverage Needs" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What type of insurance plan are you currently enrolled in?</div>
  </header>

  <div>
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_radio_set :insurance_type,
        '',
        [
          { value: "Medicaid", label: "Medicaid" },
          { value: "CHIP/MIChild", label: "CHIP/MIChild" },
          { value: "VA health care programs", label: "VA health care programs" },
          { value: "Employer or individual plan", label: "Policy through an employer or individual plan" },
        ] %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
