.question-with-follow-up {
  margin-bottom: 2em;
}

.question-with-follow-up__follow-up {
  padding: {
    bottom: 1em;
  }
  border-color: $color-light-grey;
  &:before {
    @include triangle(top, $color: $color-light-grey, $size: 12px);
  }
}

.question-with-follow-up__follow-up-two {
  &:before {
    left: $site-margins/2+168;
    @include media($tablet-up) {
      left: $site-margins+168;
    }
  }

  &:after {
    left: $site-margins/2+170;
    @include media($tablet-up) {
      left: $site-margins+170;
    }
  }
}

.employment-form-group {
  border-bottom: 2px solid $border-color;

  &:last-of-type {
    border-bottom: none;
  }
}

.feedback-survey__form {
  .input-group--inline .radio-button {
    margin-right: 0;

    @include media($tablet-up) {
      margin-right: 0.3em;
    }
  }

  textarea {
    max-width: 400px;
  }
}
