<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Add a member of your household</div>
  </header>

  <div class="form-card__content">
    <label class="form-question" for="example_text">What is their first name?</label>
    <input type="text" class="text-input" name="example_text">

    <label class="form-question" for="example_text">What is their last name?</label>
    <input type="text" class="text-input"  name="example_text">

    <label class="form-question" for="example_text">What is their gender? (As it appears on official government documents)</label>
    <label for="example_radio" class="radio-button">
      <input type="radio" name="example_radio" id="example_radio">
      Female
    </label>

    <label for="example_radio" class="radio-button">
      <input type="radio" name="example_radio" id="example_radio">
      Male
    </label>
  </div>

  <footer class="form-card__button_right">
    <a href="/pages/medicaid/intro_household" class="button button--nav  button--cta button--full-width">
      Next
    </a>
  </footer>
</div>

<!-- https://trello.com/c/IdzCrncx/69-add-a-member-of-your-household -->
