<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us your Social Security Number and Date of Birth</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_input_field :last_four_ssn,
        "Social Security Number (last 4 digits)",
        type: :tel,
        options: { maxlength: 4 },
        notes: ["If you don’t know it you can skip this"],
        append_html: "<p class='text--secure'><i class='illustration illustration--safety'></i>Social security numbers help ensure you receive the correct benefits. MDHHS maintains strict security guidelines to protect the identities of our residents.</p>" %>

      <%= f.mb_date_select :birthday, "What is your birthday?", { options: { start_year: 1900, end_year: Time.now.year, default: Date.new(1990,1,15), order: [:month, :day, :year] } } %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
