.template--homepage {
  #fold {
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .already-started {
    a.button {
      display: block;
      width: 100%;
      font-size: 16px;
      text-align: left;
      padding: 12px;
      padding-left: 58px;

      .button__icon {
        top: 6px;
      }

      &.resume {
        background: url(image-path('btnicn_resume@2x.png')) no-repeat;
        background-size: 26px 32px;
        background-position: 18px;
      }

      &.contact {
        background: url(image-path('btnicn_contact@2x.png')) no-repeat;
        background-size: 31px 33px;
        background-position: 14px;
      }

      &.upload {
        background: url(image-path('btnicn_upload@2x.png')) no-repeat;
        background-size: 40px 28px;
        background-position: 12px;
      }
    }
  }

  .slab--hero {
    position: relative;
    background: rgba(shade($color-dark-grey, 80%), .3);
    min-height: 530px;

    color: #FFFFFF;

    padding: {
      top: $site-margins / 2;
      bottom: $site-margins / 1.2;
    }

    @include media($tablet-up) {
      background: linear-gradient(242deg, rgba(#FFFFFF, 0) 0%, rgba(#000000, .5) 99%);
      padding: {
        top: 1em;
        bottom: 1em;
      }
    }

    h1 {
      max-width: 10em;
      margin-top: 15rem;
    }

    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: top center;
    }

    p {
      margin-bottom: 2em;
      font-weight: 500;
    }
  }

  @for $i from 1 through 3 {
    .slab--hero-#{$i} {
      &:before {
        background-image: image-url('hero-#{$i}-mobile');
        @include media($tablet-up) {
          background-image: image-url('hero-#{$i}-landscape');
        }
      }
    }
  }
}
