.template--homepage {
  .slab--hero {
    position: relative;
    background: rgba(shade($color-dark-grey, 80%), .3);

    color: #FFFFFF;

    padding: {
      top: 1em;
      bottom: 1em;
    }

    @include media($tablet-up) {
      background: linear-gradient(242deg, rgba(#FFFFFF, 0) 0%, rgba(#000000, .5) 99%);
      padding: {
        top: 1em;
        bottom: 1em;
      }
    }

    h1 {
      max-width: 10em;
      margin-top: 15rem;
    }

    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: image-url('janice-mobile.jpg');
      background-size: cover;
      background-position: top center;
      @include media($tablet-up) {
        background-image: image-url('janice');
      }
    }

    p {
      margin-bottom: 2em;
      font-weight: 500;
    }
  }
}
