.template--numbers {
  .big-number {
    font-size: 10rem;
    line-height: 10rem;
  }
  .medium-number {
    font-size: 8rem;
    line-height: 10rem;
  }
  .small-number {
    font-size: 6rem;
    line-height: 10rem;
  }
}
