@include keyframes(bounce-up-down) {
  from {
    bottom: 3em;
  }

  to {
    bottom: 2em;
  }
}

@include keyframes(blink) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.template--student-portal {
  background-color: $color-tan;

  .main-header .toolbar__right {
    display: none;
  }

  .select {
    display: block;
    border-radius: $border-radius;
    &:before {
      border: 1px solid #fff;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background-color: #fff;
    }

    @include media($tablet-up) {
      display: inline-block;
      margin-right: -.2em;
      z-index: 0;
      &:before {
        border-radius: 0;
      }
    }
  }

  .select__element {
    width: 100%;
    font-size: $font-size-normal;
    border: 1px solid #fff;
    border-bottom: 2px solid $color-tan;

    &:focus {
      border-color: $color-teal;
    }

    @include media($tablet-up) {
      min-width: 17em;
    }
  }

  .button--cta {
    @include media($tablet-up) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .slab--header {
    text-align: center;
    position: relative;
    padding: {
      top: 2em;
      bottom: 6em;
    }
    &:after {
      @include transform(rotate(-2deg));
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 2em;
      right: 2em;
      height: 2px;
      background-color: shade($color-tan, 40%);
    }

    .emoji {
      display: none;
      @include media($tablet-up) {
        display: inline-block;
      }
    }

    .emoji--avocado {
      position: absolute;
      opacity: .8;
      top: 0%;
      right: 15%;
    }

    .emoji--rice-bowl {
      position: absolute;
      opacity: .8;
      bottom: 15%;
      right: 5%;
    }

    .emoji--eggs {
      position: absolute;
      opacity: .8;
      top: 60%;
      left: 5%;
    }

    .emoji--finger-down {
      @include animation(bounce-up-down 1.0s ease-in);
      @include animation-direction(alternate-reverse);
      @include animation-iteration-count(infinite);
      position: absolute;
      bottom: 3em;
      display: inline-block;
      margin-left: -1em;
      border-radius: 50%;
    }
  }

  .student-portal__pre-title {
    @include retina-bg('this_one_goes_out_to', 100% auto);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 250px;
    height: 30px;
  }

  .student-portal__title {
    font-size: $font-size-h2;
    @include media($mobile-up) {
      font-size: $font-size-h1;
    }
    text-transform: uppercase;
    font-weight: 700;

    min-height: 5.5em;
    @include media($tablet-up) {
      margin: 1em 0;
      min-height: 4em;
    }
    @include media($site-max-up) {
      min-height: 3em;
    }
  }

  .typed-cursor {
    @include animation(blink .4s linear);
    @include animation-direction(alternate-reverse);
    @include animation-iteration-count(infinite);
    font-weight: normal;
    color: $color-teal;
    position: relative;
    top: -.05em;
  }

  .text--pullquote {
    font-size: $font-size-normal;
    @include media($mobile-up) {
      font-size: $font-size-h3;
    }
  }

  .slab--padded {
    position: relative;
    margin: {
      left: 0;
      right: 0;
    }
    padding: {
      left: 0;
      right: 0;
      top: 6em;
      bottom: 6em;
    }

    &:after {
      @include transform(rotate(2deg));
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0em;
      right: 0em;
      height: 2px;
      background-color: shade($color-tan, 40%);
    }

    &:nth-of-type(2n-1) {
      &:after {
        @include transform(rotate(-2deg));
      }
    }
  }

  .media-box__media {
    text-align: center;
    padding-bottom: 2em;
    @include media($tablet-up) {
      padding-top: 3em;
    }
  }

  .illustration--cfa-logo-color {
    max-width: 10em;
    margin-top: 0;
  }

  .slab--footer {
    position: relative;
    padding: {
      top: 6em;
      bottom: 6em;
    }
    text-align: center;

    .emoji--salad {
      position: absolute;
      top: 10%;
      left: 10%;
    }

    .emoji--stew {
      position: absolute;
      top: 70%;
      right: 10%;
    }
  }

}