<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.intro_citizen.edit.title",
         count: current_application.members.count) %>
    </div>
    <p class="text--help text--centered">
      You don’t always have to be a citizen to receive benefits. If you are not
      a citizen, you’ll be asked to provide paperwork about your immigration
      status.
    </p>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :everyone_a_citizen %>
</div>
