<% content_for :header_title, "Introduction" %>

<% content_for :form_card_header do %>
    <h1 class="form-card__title">
      Tell us about your living situation.
    </h1>
<% end %>

<% content_for :form_card_body do %>
  <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
    <span class="tooltip" <%= tooltip_title "During testing this form with Applicants, it became apparent that their definition of their living situation was not the same as caseworkers. The form originally asked about “stable housing”, which they found difficult to interpret. “Stable address” was clearer. Applicants and Caseworkers also disagreed on the definition of homeless. “Temporary address” was added to clarify the distinction." %>></span>
    <%= f.mb_radio_set :living_situation,
                       label_text: "What's your current living situation?",
                       collection: [{ value: :stable_address, label: "Stable address" },
                                    { value: :temporary_address, label: "Temporary address" },
                                    { value: :homeless, label: "Homeless" }]
    %>
  <% end %>
<% end %>
