<% content_for :header_title, "Your Household" %>

<% content_for :form_card_header do %>
    <h1 class="form-card__title tooltip" <%= tooltip_title "It can be hard for applicants to understand the multiple qualifications for someone to be part of their SNAP household. Splitting up residency and food costs into separate questions helps." %>>
      Do you and <%= current_application.members.second.first_name %> share meals and food costs?
    </h1>
    <p class="text--centered text--help">
      Answer "yes" if one of you buys food for the other.
    </p>
<% end %>

<% content_for :form_card_body do %>
    <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
        <%= f.mb_yes_no_buttons :buy_and_prepare_food_together,
          yes_value: "yes",
          no_value: "no"
        %>
    <% end %>
<% end %>

<% content_for :skip_footer, true %>
