<div class="step-header">
  <a href="/pages/medicaid/income_other_income" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Current Income
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What type of income do you receive that’s not from a job?</div>
    <p class="text--help text--centered">
    Check all that apply.
    </p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_checkbox_set(
        [
          { method: :income_unemployment, label: "Unemployment" },
          { method: :income_pension, label: "Pension" },
          { method: :income_social_security, label: "Social Security" },
          { method: :income_retirement, label: "Retirement" },
          { method: :income_alimony, label: "Alimony" },
        ],
        label_text: "" ) %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
