<% content_for :header_title, "Income & Expense Amounts" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Okay, thanks! Now describe your income and expenses.</div>
  </header>

  <!-- Replace with partial -->
  <footer class="form-card__button_right">
    <a href="/pages/medicaid/amounts_current_job" class="button button--nav button--nav-center button--cta button--full-width">
      Next
    </a>
  </footer>
</div>

<!-- https://trello.com/c/dVputaEd/63-transition-okay-thanks-now-describe-your-income-and-expenses -->
