<% content_for :header_title, "Income & Expense Amounts" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--check"></div>
    <div class="pre-title">You're almost done!</div>
    <div class="form-card__title">Okay, thanks! Now describe your income and expenses.</div>
  </header>

  <footer class="form-card__button_right">
    <%= link_to next_path, class: "button button--nav  button--cta button--full-mobile" do %>
      Next
    <% end %>
  </footer>
</div>
