<h3 class="text--centered">Commonly requested documents</h3>

<p class="text--help with-padding-med text--centered">
  During your eligibility interview, your case worker will tell you exactly
  what documents you need to send in.
</p>
<div class="media-box with-padding-small">
  <div class="media-box__media">
    <div class="emoji emoji--med emoji--bust"></div>
  </div>
  <div class="media-box__content">
    <p>
      <b>An ID for everyone</b> on your application, like a driver’s license or
      birth certificate.
    </p>
  </div>
</div>
<div class="media-box with-padding-small">
  <div class="media-box__media">
    <div class="emoji emoji--med emoji--money"></div>
  </div>
  <div class="media-box__content">
    <p>
      <b>Proof of all money</b> you received in the last 30 days, like pay
      stubs from your employer or bank statements.
    </p>
  </div>
</div>
<div class="media-box with-padding-small">
  <div class="media-box__media">
    <div class="emoji emoji--med emoji--house"></div>
  </div>
  <div class="media-box__content">
    <p>
      <b>Proof of where you live.</b> Any document that links your name to your
      address like your utility bill.
    </p>
  </div>
</div>
<div class="media-box with-padding-small">
  <div class="media-box__media">
    <div class="emoji emoji--med emoji--dollar-sign"></div>
  </div>
  <div class="media-box__content">
    <p>
      <b>Proof of expenses</b>, like rent, utilities, and certain medical bills
      (the more expenses you show the more MichiganBenefits you can get).
    </p>
  </div>
</div>
<div class="media-box with-padding-small">
  <div class="media-box__media">
    <div class="emoji emoji--med emoji--memo"></div>
  </div>
  <div class="media-box__content">
    <p>
      <b>Self attestations</b>. If you don’t have an official document, you can
      write a statement on paper saying how much money you received, and sign
      and date it.
    </p>
  </div>
</div>
