<% if flash.any? -%>
  <div class="flash-container max-container" id="dismiss-notice">
    <% flash.each do |key, value| %>
      <div class="flash flash--<%= key %>">
        <p class="flash__message"><%= value %></p>
        <a href="#dismiss-notice" class="flash__dismiss"><span class="icon icon-close icon-<%= key %>"></span></a>
      </div>
    <% end %>
  </div>
<% end -%>
