<div class="footer--meta-data">
  <div class="footer--benefit-label">
  <%= current_application&.application_title %>
  </div>
  <div class="footer--security-message">Your information is always kept safe and secure</div>
</div>

<div class="main-footer">
  <div class="grid">
    <div class="footer--office-links">
      <p class="footer--office-links-header text--small">
        MDHHS Offices
      </p>
      <%= link_to "Union Street Office", union_path, class: "text--small" %>
      <%= link_to "Clio Road Office", clio_path, class: "text--small" %>
    </div>

    <div class="footer--partners">
      <div class="illustration illustration--cfa"></div>
      <div class="illustration illustration--civilla"></div>
      <p class="text--small">
        Michigan Benefits is a service delivered by
        Code for America and Civilla on behalf of the people of Michigan.
      </p>
    </div>
  </div>
</div>
