<div class="main-footer">
  <div class="grid">

    <% if office_links %>
      <div class="footer--office-links">
        <p class="footer--office-links-header text--small">
          MDHHS Offices
        </p>
        <%= link_to "Union Street Office", union_path, class: "text--small" %>
        <%= link_to "Clio Road Office", clio_path, class: "text--small" %>
      </div>
    <% end %>

    <div class="footer--partners">
      <a href="https://www.codeforamerica.org" title="Code for America"><div class="illustration illustration--cfa"></div></a>
      <a href="http://www.civilla.com" title="Civilla"><div class="illustration illustration--civilla"></div></a>
      <p class="text--small">
        Michigan Benefits is a service delivered by
        <a href="https://www.codeforamerica.org">Code for America</a> and <a href="http://www.civilla.com">Civilla</a> on behalf of the people of Michigan.
      </p>
      <p class="text--small">
        <a href="mailto:integratedbenefits@codeforamerica.org">Email Us</a> | Learn more about the <a href="https://www.codeforamerica.org/what/integrated-benefits">Integrated Benefits Initiative</a>
      </p>
    </div>
  </div>
</div>
