<footer class="form-card__footer">
  <button class="button button--next button--cta button--full-width" type="submit">
    <%= local_assigns[:button_label].presence || "Continue" %>
    <i class="button__icon icon-arrow_forward"></i>
  </button>
</footer>
