%footer.form-card__footer
  = link_to next_path, class: 'button button--next button--cta button--full-width' do
    = local_assigns[:button_label] || 'Continue'
    %i.button__icon.icon-arrow_forward
