%footer.form-card__footer
  %button.button.button--next.button--cta.button--full-width{ type: 'submit' }
    = local_assigns[:button_label].presence || "Continue"
    %i.button__icon.icon-arrow_forward
