- form_classes = ['form-group']
- form_classes << 'form-group--error' if f.object.errors[method].present?

%div{ 'data-md5': data_md5(title), 'data-field-type': type, class: form_classes }
  = render 'shared/question/content', local_assigns
  = yield if block_given?
