<div class="text--centered">
  <h3>Things You Must Do</h3>
  <p>
  By signing the assistance application, you agree to do these
  things:
  </p>
  <p>
  <strong>Give Correct Information and Report Changes (All
    Programs)</strong>
  </p>
</div>

<p>
<strong>Correct information.</strong> You must give MDHHS correct and
complete information about you and everyone in your household.
</p>

<p>
<strong>If you give us incorrect or incomplete information on purpose,
  or you do not report a change,</strong> you may be prosecuted for
perjury or fraud, or denied benefits. (See "Penalties for Intentional
Program Violation Or Fraud" for more information.)
</p>

<p>
<strong>Reporting changes.</strong> Tell your MDHHS specialist about
changes or report changes online within 10 days of the change.*
</p>

<p class="text--small">
*Exception: For FIP only, you must report a child leaving your home
within 5 days of the date you know he or she will be absent for 30 days
or more.
</p>

<p>
If you have any doubt about whether to report a change, contact your
MDHHS specialist. Your MDHHS specialist will tell you if different
reporting rules apply to you, such as simplified reporters.
</p>

<p>
The types of changes you must report are:
</p>

<ul class="list--bulleted text--small">
  <li>
    Employment starts, stops (within 10 days of receiving your first/last payment) or changes.
  </li>
  <li>Change in rate of pay (within 10 days of receiving the first payment
    reflecting the change).</li>
  <li>Bank accounts (opening/changes/closures), sale/purchase of property,
    etc.</li>
  <li>Change of hours worked by more than five hours per week, if it will
    last more than one month.</li>
  <li>Unearned income starts or stops (like Social Security, unemployment or
    retirement benefits, etc.).</li>
  <li>Unearned income changes by more than: <strong>$50</strong> per month for most programs, <strong>$25</strong> per month for most MA programs.</li>
  <li>Change in assets.</li>
  <li>Change of address.</li>
  <li>Housing or utility cost stops, starts or changes.</li>
  <li>Anyone moving in or out of your home.</li>
  <li>Changes in child care need, cost or provider.</li>
  <li>Changes in child support amount paid out or received.</li>
  <li>Health or medical insurance premiums or change in coverage.</li>
  <li>Changes in a child’s school attendance.</li>
</ul>

<p>If you file for bankruptcy, you shall send a copy
of the official bankruptcy notice to : MDHHS Legal Services, P.O. Box 30037,
Lansing, MI 48909</p>

<p>Additional Requirement for Health Care Coverage Only</p>

<p>You must tell the Michigan Department of Health and Human Services
(MDHHS) if anything changes (and is different than) what you wrote on your
reapplication. You can visit www.michigan.gov/mibridges or call your
MDHHS specialist to report any changes. You understand that a change in your
information could affect the eligibility for member(s) of your
household.</p>

<p>Repay Extra Benefits (All Programs)</p>

<p>If you or anyone in your household receives benefits they are not eligible
for, the adults in the household must repay the extra benefits. The benefits
must be repaid even if there was no fraud. If MDHHS makes an error, the adults
in the household must repay the extra benefits except in medical assistance
cases.</p>

<p>For FAP, an authorized representative (someone with access to
your food benefits who can shop for you) may also be responsible for repayment
of any extra FAP benefits.</p>

<p>Recoupment. MDHHS may keep part of your future benefits as repayment for
extra benefits you received.</p>

<p>Trafficking. FAP benefits that are sold or traded are treated as extra
benefits and must be repaid.</p>

<p>Release of information. If you or anyone in your household received extra benefits, the information on your assistance application, including Social Security
numbers, may be given to federal, state and private agencies to help with
collection.</p>

<p>Provide Social Security numbers (Most Programs)</p>

<p>For most programs, under federal law 42 USC 1320b-7, you must provide Social Security numbers for everyone applying.</p>

<p>Exceptions include:</p>

<ul class="list--bulleted text--small">
  <li>When applying for child care only, you do not have to provide a Social
    Security number for adults or children who do not need child care.</li>
  <li>Non-citizens who cannot get a
    Social Security number may still qualify for medical assistance for emergency
    services, pregnancy and child birth. (See "Citizens and
    Non-Citizens.")</li>
  <li>When applying for FAP, you do not have to provide a social security
    number for anyone not applying.</li>
  <li>FAP clients are excused from providing and obtaining a Social Security
    number based on religious grounds.</li>
</ul>

<p>MDHHS will help you apply for Social Security numbers. Give MDHHS the Social
Security number as soon as you receive it. If you do not, your benefits may be
reduced or denied. You may have to repay an overpayment.</p>

<p>MDHHS will use Social Security numbers to check whether you are eligible and
receiving the correct benefits. MDHHS uses Social Security numbers to check
information with other agencies. (See "Information About Your Household That
Will Be Shared.")</p>

<p>Pursue Other Benefits (Most Programs)</p>

<p>You must apply for other benefits you may qualify for, such as:</p>

<ul class="list--bulleted text--small">
  <li>Unemployment benefits.</li>
  <li>Social Security and Supplemental Security Income (SSI) benefits.</li>
  <li>Veterans Administration benefits.</li>
</ul>

<p>MDHHS will tell you if you need to apply for benefits.</p>

<p>If you do not pursue benefits when required, your MDHHS benefits may be reduced, closed or denied.</p>

<p>Immunize Children Under Age Six - Get Shots (Family Independence Program -
FIP)</p>

<p>Children under age six must be immunized as recommended by the Michigan
Department of Health and Human Services (MDHHS).</p>

<p>Your cash benefits may be reduced by $25 per month until your children are
up-to-date on their immunizations.</p>

<p>A child is exempt from the immunization requirement if:</p>

<ul class="list--bulleted text--small">
  <li>(S)he is under two months of age.</li>
  <li>Immunizations are medically inappropriate for the child.</li>
  <li>Immunizations are against the family’s religious beliefs.</li>
</ul>

<p>Child Support Actions (Most Programs)</p>

<p>You will receive a letter about the child support program if:</p>

<ul class="list--bulleted text--small">
  <li>You receive FIP, FAP, MA or CDC; and</li>
  <li>One or more of the child’s parents do not live with the child.</li>
</ul>

<p>Read and follow the directions in the letter. You will need to provide more information about yourself, the minor child(ren) in your home and the parents of the minor child(ren). The letter will tell you to complete an online form or to call OCS.</p>

<p>While you receive benefits from FIP, FAP, MA or CDC, you must keep
working with the Office of Child Support, the Prosecuting Attorney and Friend
of the Court to pursue paternity and/or support.</p>

<p>Good Cause. MDHHS will not require you to pursue paternity or support if you have good cause.</p>

<p>To claim good cause, tell your MDHHS specialist and ask for the "Claim of Good Cause" (DHS-2168) form. You may be asked to provide proof.</p>

<p>If you do not cooperate with child support actions when required, and do not have a good-cause reason, MDHHS will do all of the following for at least one month:</p>

<ul class="list--bulleted text--small">
  <li>Remove the food assistance benefits of the person not cooperating.</li>
  <li>Deny or stop your medical benefits for at least one month. We will not deny or stop Medicaid for children or pregnant women.</li>
  <li>Deny or stop your child care benefits.</li>
  <li>Deny or stop cash assistance for your entire household.</li>
  <li >Deny SER for failure to comply with a requirement of FIP.</li>
</ul>

<p >When you get a FIP grant, you give (assign) to
MDHHS any current support for you (spousal support) or minor children in your
home (child support). This means when you get FIP, some of the spousal or child
support you get from someone else may go to MDHHS to pay back some of the FIP
grant.</p><p>You may get a child support payment that is owed to you while on
FIP. If you do get a child support payment, call your local MDHHS office to
find out if you can keep it. If your MDHHS specialist tells you the payment was
sent to you in error, you must return the money. If you do not return the
money, you may lose your FIP grant or your grant may be reduced.</p><p
></p><p>If the
amount of support MDHHS collects is more than your FIP grant for at least two
months, MDHHS may close your FIP case so you can receive support payments
directly.</p><p
>If you get MA for your children, you give (assign)
your rights to current and past medical support to the Michigan Department of
Health and Human Services (MDHHS). This means when you get MA, medical support
payments you get from someone else will go to MDHHS.</p><p
></p><p>Follow
Work Rules and Penalties (FIP or RCA and FAP)</p><p></p><p>Your work rules will
depend on whether you receive FIP or RCA cash assistance, FAP benefits with no
cash assistance, or time limited FAP benefits.</p><p></p><p>FIP or RCA cash
assistance work rules. Your family must complete a
Family Automated Screening Tool (FAST) and develop a Family Self-Sufficiency
Plan (FSSP). The FAST and FSSP requirements are for FIP only. The FSSP will
list the work activities that you must do up to 40 hours per week to receive
FIP. You design this plan with your MDHHS specialist and the work participation
program. For RCA only, you must develop a Refugee Family Self-Sufficiency Plan
(RFSSP).</p>

<ul>
    <li>Complete the FAST
(FIP only).</li><li>Help make and comply
with a FSSP (FIP only) or RFSSP (RCA only).</li><li>Not quit, refuse work or reduce work hours.</li><li
>Not get fired from a job due to misconduct or
missing work.</li><li>Comply with assigned
employment and/or self-sufficiency activities.</li></ul><p
></p><p>Penalties for breaking FIP or RCA work rules. If you break the FIP or RCA work rules without good cause (see
"Good Cause"), MDHHS will:</p><p></p><ul ><li
>Deny your application (you may
reapply).</li><li>Stop FIP for your whole
family for three months for the first time, six months for the second time and
permanently for the third time.</li><li>Count all penalty months toward your state 48-month lifetime limit
(FIP only).</li><li>Stop RCA for you for at
least three months (but the rest of your household might be
eligible).</li><li>If you receive both FIP
and FAP, we may:</li></ul>

<ul><li>Stop or reduce your FAP benefits for at
least one month if you are not excused from FAP work rules.</li><li
>Count your FIP grant amount as
income.</li></ul><p
>FAP work rules. All group
members not meeting deferral criteria will be registered for work and may be
required to perform specific work incuding cooperation with employment and
training activities. (Note: If you receive both cash and food benefits, you
must follow FIP work rules.)</p><p></p><ul ><li
>If you are working, you
may not:</li></ul><ul ><li
>Quit a job of 30 hours or more per
week.</li><li>Voluntarily reduce work hours
below 30 hours per week without good cause.</li></ul><ul class="c13
lst-kix_xtarzru0ypc-0"><li>If you are not
working, or you work less than 30 hours per week,
you may not:</li></ul><ul ><li
>Refuse a job offer.</li><li
>Refuse to participate in required
employment-related activities that must be done to receive
FAP.</li></ul><p>Penalties for breaking FAP work rules. If you receive FAP and you break the work rules without good
cause, your benefits will stop or be reduced for:</p>

  <ul><li>At least one
month for the first time and</li><li>Six
months for any other time after the first time</li></ul><p
></p><p>Time-limited food assistance rules. (NOTE: Time limits are not always in effect, so check with
your MDHHS specialist.) Special time limits and work requirements might apply
to you if you are:</p>
<ul><li>A person without a disability.</li><li>At least 18 years old but under the age of 50, and</li>
  <li>Living in a household with no children under age 18 (related or
    unrelated).</li>
</ul>

<p >Work Rule Deferrals and Good Cause (FIP or RCA and FAP)</p>
<p>Work rule deferrals (excused). Some
people who receive cash or food assistance may be excused from work rules. If
you receive FIP and are excused from the work rules, you may have to do other
activities. If you think you should be excused from work rules, talk to your
MDHHS specialist. </p><p
>NOTE: Reasons for being excused may
change.</p><p>You may be excused from FIP or RCA work rules if you
are:</p>

<ul>
  <li>Age 65 or older.</li>
  <li>A parent of a baby less than 2 months old. You may be assigned to family strengthening activities once the baby is 6 weeks old.</li>
  <li>Working 40 hours per week.</li>
  <li>Caring for a child or spouse with a disability (depending on the person’s needs and the child’s school attendance).</li>
  <li>A person with a disability or medical limitations.</li><li >Experiencing a domestic violence situation (determined by MDHHS).</li>
</ul>

<p>You may be excused from FAP work rules if you are:</p>

<ul>
  <li>Age 60 or older.</li>
  <li>Personally caring for a child under the age of 6 who is receiving FAP on your case.</li>
  <li>Working 30 hours per week or earning at least minimum wage times 30 hours per
week.</li>
  <li>Attending high school, adult education, or a GED program at least half-time.</li>
  <li>Injured, ill or personally caring for a household member with a disability.</li>
  <li>Seven to nine months pregnant.</li>
  <li>Pregnant with medical complications.</li><li>Applying for FAP at a Social Security office.</li>
  <li>In substance abuse treatment or rehabilitation.</li>
  <li>Applying for or receiving unemployment benefits.</li>
  <li >Appealing the denial of unemployment benefits.</li>
</ul>

<p >Good Cause. You have the right to claim good cause if you believe you should be excused from the FIP, RCA and/or FAP work rules. If you think you have a good cause reason, contact your MDHHS specialist right away.</p>

<p>NOTE: Reasons for good cause may change.</p><p >FIP or RCA or FAP - Reasons for good cause:</p>

<ul>
  <li>An unplanned event or factor that does not allow you to meet the work rules (For example, domestic violence, religion, health or safety risk or homelessness).</li>
  <li>Illness or injury.</li>
  <li>You requested child care that was not provided.</li>
  <li>You requested transportation services that were not provided.</li>
  <li>Long commute (more than two hours per day or more than three hours per day with child care).</li>
  <li>You quit a job to take a comparable job.</li>
  <li>Your job required you to commit illegal activities.</li>
  <li>You are physically or mentally unable to do the job.</li>
  <li>Your employer discriminated against you based on age, race, religion, national origin, color, height, weight, marital status, sex, sexual orientation, gender identity or expression, political beliefs or disability.</li>
  <li>You are working 40 hours per week for at least the state minimum wage.</li>
  <li>Reasonable accommodation was not provided.</li>
</ul>

<p>FAP only - You may have a good cause reason if you / your:</p>

<ul ><li
>Are deferred.</li><li>Moved due to another household member’s job or
education/training.</li><li>Have a job that
requires you to retire or to join, resign from, or refrain from joining a labor
union or organization.</li><li>Have a job
that is on strike or at a lockout site.</li><li>Have unreasonable work conditions.</li><li>Have been offered a job that is outside of your work experience
during the first 30 days as a mandatory FAP work participant.</li><li
>Employer is not able to keep the promise of
work.</li></ul><p
>Important Things To Know</p><p
>Penalties, Intentional Program Violation Or Fraud
(FAP, FIP, SDA, CDC)</p><p
>Welfare Fraud - Call 1-800-222-8558 to report suspected welfare fraud.</p><p></p><p>Intentional Program
Violation (IPV) is when you make a false or misleading statement, hide,
misrepresent or withhold facts on purpose to receive or continue to receive
extra benefits.</p><p
>Fraud/IPV - If we think you committed fraud/IPV,
we may hold an administrative hearing, bring criminal charges or ask you to
voluntarily sign a disqualification agreement.</p><p></p><p>FAP
Trafficking - You may also be guilty of fraud/IPV
if you trade, attempt to trade or sell your FAP benefits or Bridge card online
or in person. You may not use or attempt to use FAP benefits or Bridge cards
that belong to another household for your household. You may not use FAP
benefits or Bridge cards to purchase or attempt to purchase anything other than
food, seeds and plants to grow your own food for your household.</p>
<p>If it is proven in court that you are guilty of fraud:</p>

<ul>
  <li>You are subject to criminal penalties (for example, fines up to $250,000, jail/prison time up to 20 years, or both). You may be charged under other federal laws and a court may prevent you from receiving benefits for an additional 18 months; and</li>
  <li >You must repay any extra benefits you received
    because of the fraud/IPV; and</li>
  <li >You will be disqualified from receiving FIP/SDA
    and/or FAP benefits, see the table below.</li>
</ul>

<p>If it is proven in an administrative hearing you are guilty of IPV, or you voluntarily sign a disqualification:</p>

  <ul>
    <li>You will be disqualified from receiving FIP/SDA and/or FAP benefits, see the table below, and</li>
    <li>You will have to repay the extra benefits you received because of
      the fraud or IPV.</li>
  </ul>

  <p>CDC Program Penalties - Violation of program rules may result in a disqualification of 6 months, 12 months or a lifetime.</p>
  <table >
    <tbody>
      <tr>
        <td  colspan="1" rowspan="1"><p>If you do any of the following:</p></td>
        <td  colspan="1" rowspan="1"><p >You will lose FIP/SDA and/or FAP benefits for:</p></td>
      </tr>
<tr >
  <td  colspan="1" rowspan="1">
    <ul >
      <li>Make a false or misleading statement.</li>
      <li >Hide, misrepresent or withhold facts to receive or continue to receive benefits.</li>
      <li>Trade, attempt to trade, or sell less than $500 in FAP benefits or Bridge cards online or in person.</li>
      <li>Use or attempt to use FAP or Cash benefits to buy ineligible items such as alcoholic drinks or tobacco.</li>
      <li>Purchase beverages with FAP benefits then immediately empty the contents and return the container for the cash.</li>
      <li >Use or attempt to use FAP benefits or Bridge cards that belong to someone else for your household.</li>
    </ul>
  </td>
  <td colspan="1" rowspan="1">
    <ul><li>One year for the first
violation.</li><li>Two years for the second
violation.</li><li>Life for the third
violation.</li></ul> </td></tr>
<tr><td colspan="1" rowspan="1"><p>If you are:</p> <ul ><li >Found by a court or an administrative hearing to
have lied about your identity or where you live to receive benefits on two or
more cases at the same time.</li></ul></td><td colspan="1" rowspan="1"><p>You will lose FAP benefits for:</p>
<ul ><li >10 years</li></ul></td>
</tr>
<tr><td  colspan="1" rowspan="1"><p>< >If you are:</p>
        <ul><li>Convicted in court of lying about your
identity or where you live to receive benefits * in two or more cases at the
same time.</li>
        </ul>
        <p>*Benefits include programs funded under Title IV-A of the Social Security Act, Medicaid and Supplemental Security Income. This penalty will not stop you from receiving MA.</p></td>
  <td  colspan="1" rowspan="1"><p>< >You will lose FIP benefits for:</p><ul>
      <li>10 years</li>
    </ul></td></tr>
    <tr>
        <td  colspan="1" rowspan="1"><p>If any member of the household is
found guilty in court of:</p><ul><li>Trading FAP benefits for drugs.</li></ul></td><td  colspan="1" rowspan="1"><p >You will lose FAP benefits for:</p><ul
><li>Two years for the first offense.</li><li>Life for the second offense.</li></ul></td></tr><tr ><td
 colspan="1" rowspan="1"><p>If any
 member of the household is found guilty in court of:</p>

 <ul><li>Trading or
attempting to trade FAP benefits for firearms, ammunition or explosives.</li><li>Trading, buying or selling or attempting to trade, buy or sell FAP benefits of $500 or more for anything other than food online or in person.</li><li>Paying or attempting to pay for food purchased on credit with
FAP.</li></ul></td><td  colspan="1" rowspan="1"><p >You will lose FAP benefits for:</p><ul
><li>Life.</li></ul></td></tr></tbody></table><p></p>

<p>General Complaints</p>

<p>Clients have the right to make general complaints
about matters other than the right to apply, non-discrimination or hearing
issues. Written complaints can be sent to:</p><p></p><p
>Michigan Department of Health and Human Services
(MDHHS)</p><p>Specialization Action
Center</p><p>235 S. Grand
Avenue</p><p>P.O. Box 30037</p><p
>Lansing, MI 48909</p><p>or they may call 1-855-275-6424 or 1-855-ASK-MICH</p><p
></p><p>Hearing
Rights</p><p>If you do not agree with a
decision MDHHS makes to deny, reduce, or terminate benefits, or for failure to
act with reasonable promptness, you have the right to request a
hearing.</p><p
>Food Assistance Program hearings may be requested
by phone to your Specialist. Hearings for all other programs must be requested
in writing. The request should include your name, address, and case number.
Attach a copy of the notice, if possible. Go to
www.michigan.gov/documents/FIA-Pub18_14356_7.pdf to download a form to use, or
contact your specialist to request a form.</p><p></p><ul ><li
>Mail the signed and dated request to the hearings
coordinator at your local Department of Health and Human Services
office.</li><li>Keep a copy of the request
and any other document you attach for yourself.</li><li>At the hearing you can explain why you think the action is wrong and
present evidence.</li><li>MDHHS must receive
your request for appeal within 90 days of the mailing date of the notice or a
hearing will not be granted.</li><li>MDHHS
must receive your request for an appeal within 10 days of the mailing date of
the notice to continue receiving your benefits.</li></ul><p
></p><p>You may
be required to repay any assistance that you receive while your appeal is
pending if: (1) the Department’s proposed action is upheld in the hearing
decision, or (2) your request for appeal is withdrawn, or (3) you or your
authorized representative do not attend this hearing.</p><p
></p><p>You may
choose anyone to represent you. If that person is not a lawyer or is not
appointed by a court, you must give us your signed authorization and the person
you wish to represent you must also sign the request. Attach a copy of the
court’s order if the person is court-appointed to help you. The Michigan
Administrative Hearing System will deny the request for an administrative
hearing made by the representative if you do not provide proof of
authorization.</p><p
>If You Think We Discriminate</p><p
></p><p>This
institution is prohibited from discriminating on the basis of race, color,
national origin, disability, age, sex and in some cases religion or political
beliefs.</p><p
>The U.S. Department of Agriculture also prohibits
discrimination based on race, color, national origin, sex, religious creed,
disability, age, political beliefs or reprisal or retaliation for prior civil
rights activity in any program or activity conducted or funded by
USDA.</p><p>Persons with disabilities who require alternative means of
communication for program information (e.g. Braille, large print, audiotape,
American Sign Language, etc.), should contact the Agency (State or local) where
they applied for benefits. Individuals who are deaf, hard of hearing or have
speech disabilities may contact USDA through the Federal Relay Service at
800-877-8339. Additionally, program information may be made available in
languages other than English.</p><p></p><p>To file a program
complaint of discrimination, complete the USDA Program Discrimination Complaint
Form, (AD-3027), found online at:
http://www.ascr.usda.gov/complaint_filing_cust.html, and at any USDA office, or
write a letter addressed to USDA and provide in the letter all of the
information requested in the form. To request a copy of the complaint form,
call 866-632-9992. Submit your completed form or letter to USDA
by:</p><p>(1) mail: U.S. Department of Agriculture </p><p
>Office of the Assistant Secretary for Civil Rights
</p><p>1400 Independence Avenue, SW
</p><p>Washington, D.C. 20250-9410
</p><p>(2) fax: 202-690-7442; or
</p><p>(3) email:
program.intake@usda.gov.</p><p
>For any other information dealing with Supplemental
Nutrition Assistance Program (SNAP) issues, persons should either contact the
USDA SNAP Hotline Number at 800-221-5689, which is also in Spanish or call the
State Information/Hotline Numbers (click the link for a listing of hotline
numbers by State); found online at:
http://www.fns.usda.gov/snap/contact_info/hotlines.htm.</p><p
></p><p>To file a
complaint of discrimination regarding a program receiving Federal financial
assistance through the U.S. Department of Health and Human Services (HHS),
write: HHS Director, Office for Civil Rights, Room 515-F, 200 Independence
Avenue, S.W., Washington, D.C. 20201 or call 202-619-0403 (voice) or
800-537-7697 (TTY).</p><p
>This institution is an equal opportunity
provider.</p><p
>Persons With Disabilities</p><p
></p><p>You do
not have to tell us about disabilities, but some help is only available to
persons with disabilities. If you or someone in your household has a
disability, we can make exceptions or give you special help.</p><p
></p><p>Tell your
MDHHS specialist if you need help.</p><p></p><p>If you do not tell us
about a disability now, you can tell us about it later.</p><p
></p><p>If you
are denied special help or an exception you need because of a disability, and
you think the denial was wrong, you may file a complaint of discrimination
with:</p><p>USDA-see address in previous section. </p><p
>You may file electronically via:
http://www.michigan.gov/disabilityresources/
</p><p>OR</p><p
>This form may be printed and sent to:</p><p
>MDHHS, Americans with Disabilities Act
Coordinator </p><p>P.O. Box 30037, Suite 708 </p><p>Lansing, MI 48909 </p><p>(855)
275-6424</p>
<p>
  Citizens and Non-Citizens /Social Security Numbers
</p>
<p>
  Social Security numbers and immigration papers are NOT required for a person who
  is:
</p>

<ul>
  <li>
    Not applying for help.
  </li>
  <li>
    An undocumented non-citizen only applying for medical assistance for emergency
    services, pregnancy or child birth.
  </li>
  <li>
    Only applying for child care. (You must give a Social Security number for the
    child and the child must be a U.S. citizen or show immigration papers.)
  </li>
</ul>
<p>
Other eligible members of your household will still be able to receive help.
</p>
<p>
  You may have to provide information about income and assets of all persons in
  your household, even if they are not applying.
</p>
<p>
  Receiving food, medical, or emergency assistance will not affect your
  immigration status. If you are here illegally, it may affect your ability to
  stay in the U.S.
</p>
<p>
  For some programs, persons claiming U.S. citizenship must provide proof of
  citizenship and identity. Acceptable proof of citizenship includes, but is not
  limited to, a U.S. passport, a certificate of naturalization, a U.S. public
  birth record showing birth in the U.S. or U.S. territories.
</p>
<p>
  Persons receiving SSI, Social Security, Medicare, or adoption assistance; foster
  children, and newborn "safe delivery" babies are not required to provide proof
  of U.S. citizenship for MDHHS programs.
</p>
<p>
  Race and Ethnicity
</p>
<p>
  Answering questions about race and ethnicity is voluntary. If you do not answer
  these questions, your eligibility or benefit levels will not be affected.* The
  information is collected to ensure that program benefits are distributed without
  regard to race, color or national origin.
</p>
<p>
  *If you choose not to answer these questions, your MDHHS specialist may choose
  an answer for you.
</p>

<p>
  Domestic Violence
</p>

<p>
  We may be able to waive some program requirements (such as working, looking for
  a job, pursuing child support or going to school) if participating would:
</p>

<ul>
  <li>Put you or a family member in danger of physical or emotional harm.</li>
  <li>Subject you to sexual abuse.</li>
  <li>Otherwise be unfair to you.</li>
</ul>

<p>
  You are authorized to receive domestic violence comprehensive services. Contact
  the MDHHS office in your area or your MDHHS specialist for more information or
  to access these services.
</p>

<p>Resources:</p>

<ul>
  <li>
    Online at: <a
      href="http://www.michigan.gov/domesticviolence">www.michigan.gov/domesticviolence</a>
  </li>
  <li>
    DHS Publication 859, Is Someone Hurting You or Your Children? (also
    available in Spanish)
  </li>
</ul>

<ul>
  <li>
    Online at: <a
      href="http://www.michigan.gov/dhs-publications">www.michigan.gov/dhs-publications</a>
  </li>
</ul>

<p>If You Receive Tribal Benefits</p>
<p>
  You cannot receive food benefits from the tribal food distribution program and
  the food assistance program at the same time.
</p>

<p>
  You cannot receive tribal TANF (cash) from a tribe and FIP cash benefits from
  MDHHS at the same time.
</p>

<p>
  Tribal organizations may receive LIHEAP funds from the federal
  government. Payments are limited to the highest amount available from either
  MDHHS or the tribal organization. MDHHS will ask you to prove any tribal LIHEAP
  payment you receive.
</p>

<p>Bridge Card</p>
<p>Cash and/or food benefits are accessed by using a debit card. This debit card is called the Bridge card or Electronic Benefit Transfer (EBT) card.</p>

<p>Call EBT Customer Service toll-free at 1-888-678-8914 to:</p>
<ul>
  <li>Report a lost, stolen or damaged card.</li>
  <li>Request a replacement card (after your first replacement card, your benefits may be reduced to cover the cost of replacing any additional cards).</li>
  <li>Establish/change your personal ID number (PIN).</li>
  <li>Find out your balance.</li>
</ul>

<p>This same replacement card policy applies if you have one or both of the following individuals:</p>

<ul>
  <li>Someone who has access to your cash benefits (protective payee), or</li>
  <li>For FAP, someone who you approved to purchase food for your household (authorized representative).</li>
</ul>

<p>Repay Agreements</p>
<p>By signing the assistance application, you agree to do these
things:</p>
<p>Recovery of Medical Costs (MA, AMP)</p>
<p>If any program run by the Michigan Department of Health and Human Services (MDHHS) pays the cost of hospital, surgical or medical services, you agree that the right to recover payments (from insurance, lawsuits, etc.) is transferred to the MDHHS. This includes payments from a third person or public or private contractor. Any recovery payment you receive must be paid to the State of Michigan, MDHHS.</p>
<p>Exception: Payments are not recovered from Medicare.</p>
<p>Medicaid Estate Recovery (MA -Long Term Care (LTC))</p>
<p>Upon the death of an individual, the Michigan Department of Health and Human Services (MDHHS) has the legal right to seek recovery from your estate for services paid by Medicaid (including Healthy Michigan Plan). MDHHS will not make a claim against the estate while there is a legal surviving spouse or a legal surviving child who is under the age of 21, blind or disabled.</p>
<p>An estate consists of real and personal property. Estate Recovery only applies to certain medicaid and Healthy Michigan Plan recipients who received Medicaid or Health Michigan Plan services after the implementation date of the program. MDHHS may agree not to pursue recovery if an undue hardship exists.</p>
<p>Lump Sums and Accumulated Benefits (SDA, State Funded FIP)</p>
<p>If you receive SDA, you agree to repay MDHHS if you receive:</p>

<ul>
  <li>Lump sum payments such as an inheritance, insurance settlement, etc.,
    or</li>
  <li>Accumulated benefits paid retroactively such as unemployment benefits or worker’s compensation.</li>
</ul>

<p>If you receive SDA or state-funded FIP, you agree
to repay MDHHS if you receive retroactive SSI.</p><p></p>

<ul ><li
>You agree to allow Social Security
Administration to pay MDHHS the amount of
state-funded assistance you received while your SSI claim was
pending.</li><li>If the first accumulated
benefit payment is sent to you, you agree to pay MDHHS
right away for the state-funded assistance you received while the claim was
pending.</li></ul><p
>If you disagree with the amount MDHHS
keeps, see "Hearing
Rights."</p><p
>Information About Your Household That Will Be
Shared</p><p>By signing the assistance application, you agree that MDHHS can
share information about you and your household with others, and that other
agencies or people can give us information about you, as stated
below:</p><p>Information MDHHS Will Get From Others</p><p
></p><p>Social
Security Administration information (all programs) - You agree that the Social Security Administration may give MDHHS all
information needed to determine your eligibility.</p><p></p><p>Quality Control (QC)
and/or Office of Inspector General (OIG) investigations - MDHHS might choose your case for a quality control review or a
complete investigation.. If your case is chosen, MDHHS will contact you, other
people, employers and/or agencies for proof of the information provided on your
assistance application.</p><p
>Law enforcement check (FAP, FIP, SER) - MDHHS may give or receive information from law enforcement
officials for the purpose of catching persons fleeing to avoid the
law.</p><p>Child care billing information (CDC) -
Information submitted by your child care provider will be used in determining
payment amounts.</p><p
>Computer cross-checking (all
programs)</p><p
>- MDHHS will check with federal, state and private
agencies to make sure the information you provide on the assistance application
is correct. Verification of the information you provide may affect your
household’s eligibility and level of benefits. MDHHS may check wages,
income, assets, unemployment benefits, income tax refunds, Social Security
benefits and numbers, child support, immigration status, etc.</p><p
></p><p>If you
give any information that does not match, MDHHS will check to find out what is
correct. You may be asked for permission to contact employers, banks or other
people.</p>

<p>MDHHS will check records from other states. You may be denied
benefits in Michigan if you or other household members were disqualified in
another state.</p>

<p>Information MDHHS Will Give To Others</p>

<p>Eligibility information (FAP) - MDHHS sends
food assistance program (FAP) eligibility information to schools. This
information allows your child(ren) to receive free or reduced-cost
meals.</p>

<p>CDC - Notice will be sent to your child care provider when:</p>

<ul>
  <li>Your CDC has been approved and authorized.</li>
  <li>Changes occur that impact your CDC eligibility.</li>
  <li>Your CDC eligibility has ended.</li>
</ul>

<p>Undocumented Aliens - MDHHS may send information about certain undocumented aliens to the Department of Homeland Security.</p>
<p>Survey Information - You may be contacted for survey information to help evaluate MDHHS quality of programs and customer service.</p>
<p>Coordination of Health Care</p>

<ul>
  <li>Coordination of health care programs and providers (MA) - The
    State’s medical assistance program relies on a large number of managed care
    health programs, mental health and substance abuse programs, and private
    providers to deliver quality care to persons like you.</li>
  <li>To make sure you receive a high level of care and
    that your benefits are coordinated, providers in the program may share
    information about your care (or your child or ward) with other providers in the
    program when such information and consultation is clinically
    needed.</li>
</ul>

<ul>
  <li>Information about you, your child or ward (MA) - Necessary information may be shared between Medicaid managed care
    health plans and programs in which you participate. Health plans, programs and
    providers that deliver health care to you may share necessary information in
    order to manage and coordinate health care and benefits. This information may
    include, when applicable, information relative to HIV, AIDS, AIDS-related
    complex (ARC) or other communicable diseases, information about behavioral or
    mental health services, and referral or treatment for alcohol and drug abuse as
    permitted by 42 CFR Part 2.</li>
</ul>

<p>Web Site References</p>

<ul>
  <li>Career education and workforce programs: <a href="http://www.michigan.gov/mdcd">www.michigan.gov/mdcd</a></li>
  <li >Child Development and Care Unlicensed Provider Application: <a href="http://www.michigan.gov/childcare">www.michigan.gov/childcare</a></li>
  <li >Earned Income Tax Credit: <a href="http://www.michiganeic.org/">www.michiganeic.org</a></li>
  <li>Energy Assistance Programs: <a href="http://www.michigan.gov/heatingassistance">www.michigan.gov/heatingassistance</a></li>
  <li>Family Automated Screening Tool (FAST): <a href="http://www.michigan.gov/fast">www.michigan.gov/fast</a></li>
  <li>Michigan Department of Health and Human Services (MDHHS): <a href="http://www.michigan.gov/mdhhs">www.michigan.gov/mdhhs</a></li>
  <li>Applying for Assistance: <a href="http://www.michigan.gov/dhs-applicationprocess">www.michigan.gov/dhs-applicationprocess</a></li>
  <li>Cash Assistance: <a href="http://www.michigan.gov/dhs-cash">www.michigan.gov/dhs-cash</a></li>
  <li>Emergency Services: <a href="http://www.michigan.gov/dhs-ser">www.michigan.gov/dhs-ser</a></li>
  <li>Food Assistance: <a href="http://www.michigan.gov/foodstamps">www.michigan.gov/foodstamps"</a></li>
  <li>Medical Services: <a href="http://www.michigan.gov/dhs-medical">www.michigan.gov/dhs-medical</a></li>
  <li>Child Support: <a href="http://www.michigan.gov/childsupport">www.michigan.gov/childsupport</a></li>
  <li>Child Support Application and Case Information: <a href="http://www.michigan.gov/michildsupport">www.michigan.gov/michildsupport</a></li>
  <li>MDHHS County Offices: <a href="http://www.michigan.gov/dhs-countyoffices">www.michigan.gov/dhs-countyoffices</a></li>
  <li >MDHHS Forms and Applications: <a href="http://www.michigan.gov/dhs-forms">www.michigan.gov/dhs-forms</a></li>
  <li >MDHHS Policy and Procedural Manuals: <a href="http://www.michigan.gov/dhs-manuals">www.michigan.gov/dhs-manuals</a></li>
  <li>Office of Services to the Aging: <a href="http://www.michigan.gov/osa">www.michigan.gov/osa</a></li>
  <li>Women, Infants and Children (WIC) program: <a href="http://www.michigan.gov/wic">www.michigan.gov/wic</a></li>
  <li>Michigan Disability Resources: <a href="http://www.michigan.gov/disabilityresources">www.michigan.gov/disabilityresources</a></li>
</ul>

<p>Publications</p>

<p>Ask your MDHHS specialist if you would like any of these publications. The
following publications are available online at: <a
href="http://www.michigan.gov/dhs-publications">www.michigan.gov/dhs-publications</a>.
Some are also available in Spanish (Sp).</p>

<ul>
  <li>Child Support</li>
</ul>
<ul>
  <li>Understanding Child Support: A Handbook for Parents (DHS-Pub-748) (Sp).</li>
  <li>What Every Parent Should Know About Establishing Paternity (DHS-Pub-780) (Sp).</li>
  <li>Fatherhood: Taking Responsibility for Your Child (DHS-Pub-806).</li>
  <li>DNA Paternity Testing: Questions and Answers (DHS-Pub-865) (Sp).</li>
</ul>

  <ul>
  <li>Home Heating Credit- Notice to Potential Home Heating Credit Recipients
    (DHS-Pub-788) (Sp).</li>
  </ul>

  <p>The following publications are available online at: <a href="http://www.michigan.gov/mdch">www.michigan.gov/mdch</a>. Select MDHHS
  Brochures Available for Download from the Quick Links.</p>

    <ul>
      <li>Medicaid</li>
    </ul>
    <ul ><li >Healthy Kids (MDCH Publication 655) - explains medical coverage for pregnant women, babies, and children.</li>
      <li>Medicaid Fair Hearings: Rights and Responsibilities (MDCH Publication).</li>
      <li>Your Rights and Responsibilities in a Health Plan (MDCH Publication 201).</li>
      <li>Medicaid Deductible Information (MDCH Publication 617) - explains how your medical costs can be used to get your income at or below the income limits to be eligible for Medicaid.</li></ul>
    <ul>
      <li>Nursing Facility Eligibility (MDCH Publication 726) - explains eligibility for persons in or entering a nursing facility.</li>
      <li>Medicare Savings Program: (MDCH Publication 769) - explains how to get help paying Medicare expenses.</li>
      <li>Medicaid Fee for Service Handbook (MDCH Publication 669).</li>
    </ul>
    <ul>
      <li>State Emergency Relief</li>
    </ul>
    <ul>
      <li >You and Your Energy Bills (DHS-Pub-631).</li>
      <li >MDHHS Can Help With Temporary Assistance (DHS-Pub-783).</li>
    </ul>
