<div class="uploadable-preview dz-preview dz-file-preview dz-details">
  <div class="uploadable-preview__info">
    <h4>Uploading...</h4>
    <%= hidden_field_tag attribute_name,
      '#',
      name: "#{object_name}[#{attribute_name}][]" %>
  </div>
  <p class="text--error is-hidden"></p>
  <div class="uploadable-preview__thumb"><img data-dz-thumbnail /></div>
</div>
