<div class="uploadable-preview">
  <div class="uploadable-preview__info">
    <h4><span class="uploadable-status successful">✔</span><%= File.basename(url) %></h4>
    <%= hidden_field_tag attribute_name, url %>
    <p class="text--help"><%= link_to 'Delete', '#', class: "link--subtle link--delete" %></p>
  </div>
</div>
