- content_for :header_title, 'Money & Income'

.form-card
  = form_for @step, as: :step, url: current_path,
    method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Tell us more about those assets.

    .form-card__content
      = render 'shared/question',
        f: f,
        type: :money_field,
        method: :total_money,
        title: 'In total, how much money does your household have in cash and accounts?'

      :ruby
        checkboxes = {
          checking_account: 'Checking account',
          savings_account: 'Savings account',
          four_oh_one_k: '401k',
          life_insurance: 'Life insurance',
          iras: 'IRAs',
          mutual_funds: 'Mutual funds',
          stocks: 'Stocks',
          trusts: 'Trusts'
        }

      %p
        What kind of accounts or assets do you have?

      - checkboxes.each do |method, title|
        = render 'shared/question',
          f: f,
          type: :checkbox,
          method: method,
          title: title,
          form_classes: ['no-bottom-space']

    = render 'shared/next_step'
