<% content_for :header_title, "Money & Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="step-section-header">
      <div class="step-section-header__subhead">
        Tell us more about those assets.
      </div>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <%= f.mb_money_field :total_money,
        "In total, how much money does your household have in cash and accounts?" %>

      <%= f.mb_checkbox_set [
        { method: :checking_account, label: 'Checking account' },
        { method: :savings_account, label: 'Savings account' },
        { method: :four_oh_one_k, label: '401k' },
        { method: :life_insurance, label: 'Life insurance' },
        { method: :iras, label: 'IRAs' },
        { method: :mutual_funds, label: 'Mutual funds' },
        { method: :stocks, label: 'Stocks' },
        { method: :trusts, label: 'Trusts' },
        { method: :other, label: 'Other' },
      ], label_text: "What kind of accounts or assets do you have?" %>

    <%= render "shared/next_step" %>
  <% end %>
  </div>
