<% content_for :header_title, "Paperwork Guide" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Do you have a picture ID for everyone in your household?</div>
    <p class="text--centered">For example: a Driver's License, Passport, or State ID.</p>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_radio_set :has_picture_id_for_everyone,
        label_text: "Do you have a picture ID for everyone in your household?",
        collection: [{value: :today, label: "I have this today"},
         {value: :soon, label: "I can get this soon"},
         {value: :need_help, label: "I need help or can't get this"},
        ],
        legend_class: "sr-only"
      %>
      <%= render "shared/next_step" %>
    <% end %>
  </div>
</div>
