- content_for :header_title, 'Email application'

.form-card
  = form_for @step, as: :step, url: current_path,
    method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Want a copy of your application?

    .form-card__content
      %p
        Enter your email address below to receive an email with a copy of your
        application.

    = render "shared/question",
        f: f,
        title: "Your email address",
        type: :text_field,
        method: :email,
        placeholder: "test@example.com"


    %footer.form-card__footer
      %button.button.button--next.button--cta.button--full-width{ type: 'submit' }
        Submit
        %i.button__icon.icon-arrow_forward

      = link_to skip_send_application_path, method: :post, class: "button" do
        Skip this step
