<% content_for :header_title, "About This Demo" %>

<% content_for :form_card_title do %>
    <div class="emoji emoji--big emoji--warning with-padding-med"></div>
    <div class="tooltip" <%= tooltip_title "This is an example of a tooltip. These are used throughout the site to provide insights or suggest actions. Click or tap on any tooltip to hide it." %>>
      Thanks for visiting the Michigan Benefits example application!
    </div>
<% end %>

<% content_for :form_card_body do %>
    <p>This site is for example purposes only. If you need to submit an application, apply on MI Bridges.</p>
<% end %>

<% content_for :form_card_footer do %>
    <div class="form-card__content">
      <footer class="form-card__buttons">
        <div>
          <%= link_to "Apply on MI Bridges", "https://www.michigan.gov/mibridges", class: "button button--nav button--less-padding button--full-mobile" %>
        </div>
        <div>
          <%= link_to "Continue demo application", next_path, class: "button button--nav button--cta button--less-padding button--full-mobile" %>
        </div>
      </footer>
    </div>
<% end %>