<% content_for :header_title, "Household Expenses" %>

<% content_for :form_card_header do %>
  <div class="illustration illustration--celebrate tooltip" <%= tooltip_title "Clearly showing which steps have been completed and how many remain give Applicants a sense of accomplishment and help set expectation for how much longer the task will take." %>></div>
  <div class="pre-title">Great work so far!</div>
  <%= render "integrated/progress_bar" %>
  <div class="form-card__title">Household bills</div>
<% end %>

<% content_for :form_card_body do %>
  <p>
    Your expenses give us a clearer picture of your financial situation.
  </p>
<% end %>
