<% content_for :header_title, "Introduction" %>

<% content_for :form_card_header do %>
  <h1 class="form-card__title">Do you currently reside in Michigan?</h1>

  <p class="text--help text--centered">
    If not, we’ll help point you in the right direction. However, this
    application is specifically for current residents of Michigan.
  </p>
<% end %>

<% content_for :form_card_body do %>
  <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
    <%= f.mb_yes_no_buttons :resides_in_state %>
  <% end %>
<% end %>

<% content_for :skip_footer, true %>