<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.income_job_number.edit.title") %>
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put do |f| %>

      <%= f.mb_radio_set :employed_number_of_jobs,
        label_text: t("medicaid.income_job_number.edit.title"),
        collection: [
          { value: "1", label: "1 job" },
          { value: "2", label: "2 jobs" },
          { value: "3", label: "3 jobs" },
          { value: "4", label: "4 or more jobs" },
        ],
        legend_class: "sr-only" %>

      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
