<div class="step-header">
  <a href="/pages/medicaid/income_job" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Current Income
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us how many jobs you currently have.</div>
  </header>

  <div>
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_radio_set :number_of_jobs,
        '',
        [
          { value: "1 job", label: "1 job" },
          { value: "2 jobs", label: "2 jobs" },
          { value: "3 or more jobs", label: "3 or more jobs" },
        ] %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
