<% content_for :header_title, "Submit Paperwork & Sign" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--celebrate"></div>
    <div class="form-card__title">
      Lastly, we need to get your signature and review your paperwork.
    </div>
  </header>

  <div class="form-card__content">
    <p>
      To finish the application, you'll need to upload any paperwork you have
      on hand and sign the application
    </p>
  </div>

  <footer class="form-card__button_right">
    <%= link_to next_path, class: "button button--nav  button--cta button--full-mobile" do %>
      Next
    <% end %>
  </footer>
</div>
