<% content_for :header_title, "Submit Paperwork & Sign" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--celebrate"></div>
    <div class="pre-title">
      Almost done!
    </div>
    <div class="form-card__title">
      Lastly, we need to review your paperwork and get your signature.
    </div>
    <p class="text--help text--centered">
      To finish the application, we'll need to get your signature and any
      paperwork that you can provide right now.
    </p>
  </header>

  <footer class="form-card__button_right">
    <%= link_to next_path, class: "button button--nav  button--cta button--full-width" do %>
      Next
    <% end %>
  </footer>
</div>
