<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.contact_ss_dob.edit.title",
            count: current_application.members.count) %>
    </div>
    <p class="text--help text--centered">
      This information isn’t required at this time. But if you submit it now,
      the application process will go faster. Would you like to submit it now?
    </p>
  </header>

  <div class="form-card__content">
    <p class='text--secure'>
      <i class='illustration illustration--safety'></i>Social security numbers
      help ensure you receive the correct benefits. MDHHS maintains strict
      security guidelines to protect the identities of our residents.
    </p>
  </div>

  <%= render 'shared/yes_no_form', step: @step, field: :submit_ssn %>
</div>
