<div class="step-header">
  <a href="/pages/medicaid/contact_email" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Contact Information &amp; Follow Up
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Provide your Social Security Number and Date of Birth if you're ready
    </div>

    <p class="text--help text--centered">
      This information isn't required at this time. But if you submit it now,
      the application process will go faster. Would you like to submit it now?
    </p>
  </header>

  <div class="form-card__content">
    <p class='text--secure'>
      <i class='illustration illustration--safety'></i>Social security numbers
      help ensure you receive the correct benefits. MDHHS maintains strict
      security guidelines to protect the identities of our residents.
    </p>
  </div>

  <%= render 'shared/yes_no_form', step: @step, field: :submit_ssn %>
</div>

<!-- https://trello.com/c/tlOPbhom/38-provide-your-social-security-number-and-date-of-birth-if-youre-ready -->
