<section class="slab" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-seven-twelfths">
      <p>
        MichiganBenefits.org is an easy, safe and secure way to apply for
        Michigan's Food Assistance Program. Information you provide will be
        securely submitted as an official application with the Michigan
        Department of Health and Human Services.

        MichiganBenefits.org is a non-profit that offers online application
        assistance to any Michigan resident. For additional assistance email our
        team at <a href="mailto:hello@michiganbenefits.org">hello@michiganbenefits.org</a>.
      </p>

      <p>
        To visit the official online application for food assistance, please visit
        <%= link_to 'MI Bridges', 'https://www.michigan.gov/mibridges' %>.
      </p>
    </div>

    <div class="grid__item width-one-fourth shift-one-sixth trust-badge">
      <a href="http://www.michigan.gov/mdhhs/" class="illustration illustration--mi_mdhhs">MDHHS</a>
      <p class="text--small">An official State of Michigan Community Partner.</p>
    </div>
  </div>
</section>
