<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--hello"></div>
    <div class="pre-title">We're here to help.</div>
    <div class="form-card__title">Welcome to the Medicaid application</div>
  </header>

  <div class="form-card__content">
    <p>
    It should take about 10 minutes to complete the whole application. If you
    aren’t sure about any questions - that’s okay! Do your best and we’ll work
    with you to clarify later. Let’s get started.
    </p>
  </div>

  <div class="form-card__footer">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.hidden_field :office_page, value: @step.office_page %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
