<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--hello"></div>
    <div class="pre-title">We're here to help.</div>
    <div class="form-card__title">Welcome to the Medicaid application</div>
  </header>

  <footer class="form-card__button_right">
    <%= link_to next_path, class: "button button--nav  button--cta button--full-width" do %>
      Next
    <% end %>
  </footer>
</div>
