<div class="doc-preview">
  <div class="doc-preview__info">
    <h4><%= File.basename(url) %></h4>
    <%= hidden_field_tag 'documents', url, name: 'step[documents][]' %>
    <p class="text--help"><%= link_to 'Delete', '#', class: "link--subtle link--delete" %></p>
  </div>
</div>
