<% content_for :header_title, "Documents" %>
<% content_for :header_javascript do %>
  <%= javascript_include_tag "https://js.shubox.io/v1/#{Rails.application.secrets.shubox_js_id}.js", defer: true %>
<% end %>

<div class="form-card" id="document-drop">
  <header class="form-card__header">
    <div class="form-card__title">
      Submit Documents
    </div>
  </header>
  <div class="form-card__content">
    <p>
      If you can, we suggest submitting documents like a copy of your ID, proof
      of income, or proof of residency. You can also do this later if now is
      not a good time.
    </p>
    <p>
      Clicking the "Upload documents" button below, or dragging and dropping
      photos or documents onto this area of the page, will upload them.
    </p>

    <%= form_for @step,
      as: :step,
      builder: MbFormBuilder,
      url: current_path,
      method: :put,
      html: { data: { 'documents-form' => 'true' } } do |f| %>

      <div class="form-card__documents" id="form-card__documents">
        <%= render partial: 'document',
          collection: current_application.documents,
          as: :url %>
      </div>

      <div class="form-card__documents__ctas">
        <button type="button" class="button button--next button--cta button--full-width" id="click-to-upload">
          <i class="icon-file_upload"></i>
          Upload documents
        </button>

        <button class="button button--next button--cta button--full-width" type="submit" data-done-uploading>
          Done uploading documents
        </button>
      </div>
    <% end %>
  </div>
</div>

<% unless Rails.env.test? -%>
  <script>
    window.onload = function() { uploadSetup("<%= j render "uploading" %>") }
  </script>
<% end -%>
