- content_for :header_title, 'Submit Documents'
- content_for :back_path, documents_path

.form-card
  = form_for @document do |f|
    %header.form-card__header
      %h2#file-label
        Select a file to upload

    .form-card__content
      :ruby
        errors = @document.errors
        full_error_messages = errors.full_messages
        any_errors = full_error_messages.present?

        group_classes = ['form-group']
        group_classes << 'form-group--error' if any_errors

      %div{ class: group_classes }
        = f.file_field :file, 'aria-labelledby': 'file-label'

        - if any_errors
          %p.text--error
            %i.icon-warning

            :ruby
              messages = [].tap do |ms|
                if errors.key?(:file_content_type)
                  ms << 'invalid file type: must be a JPG image or PDF'
                end

                if errors.key?(:file_file_size)
                  ms << 'file is too large'
                end

                ms = full_error_messages if ms.empty?

                ms[0] = ms[0].capitalize
              end

            = messages.to_sentence

    %footer.form-card__footer
      %button.button.button--cta{ type: 'submit', disabled: true }
        Upload
        %i.button__icon.icon-file_upload

- content_for(:javascript) do
  :javascript
    $("#document_file").change(function() {
      $("button[type='submit']").prop("disabled", false);
    });
