<!-- Single-member: https://trello.com/c/Zt3tRe3w/42-do-you-need-help-paying-for-medical-expenses-from-the-last-3-months -->

<div class="step-header">
  <a href="/pages/medicaid/insurance_current" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Health Coverage Needs
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Do you need help paying for medical expenses from the last 3 months?
    </div>
  </header>

  <%= render 'shared/yes_no_form',
    step: @step,
    field: :need_medical_expense_help_3_months %>
</div>

<!-- https://trello.com/c/Zt3tRe3w/42-do-you-need-help-paying-for-medical-expenses-from-the-last-3-months -->
