<% content_for :header_title, "Household Expenses" %>
<% content_for :form_card_title, "Do you have any separate utility expenses?"  %>
<% content_for :form_card_help, "Only check utilities that are not included in your mortgage/rent payments." %>

<% content_for :form_card_body do %>
  <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
    <fieldset class="input-group">
      <legend class="sr-only" id="utility-expenses__legend">
        Do you have any separate utility expenses?
      </legend>

      <% Expense::UTILITY_EXPENSES.each do |name, label| %>
          <%= f.mb_checkbox(name, label, legend_id: "utility-expenses__legend") %>
      <% end %>
      <hr>
      <label class="checkbox" id="none__label">
        <input aria-labelledby="utility-expenses__legend none__label" type="checkbox" name="" class="" id="none__checkbox">
        None of the above
      </label>

    </fieldset>
  <% end %>
<% end %>
