<% content_for :header_title, "Household Expenses" %>
<% content_for :form_card_title, "Do you have any separate utility expenses?"  %>
<% content_for :form_card_help, "Only check utilities that are not included in your mortgage/rent payments." %>

<% content_for :form_card_body do %>
  <%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>

    <div class="tooltip" <%= tooltip_title "Applicants struggled to understand what was covered by “Utility expenses” as a general term. Providing a list of prompts led to answers being more accurate." %></div>
    <%= f.mb_checkbox_set_with_none(:utility_expenses,
      Expense::UTILITY_EXPENSES.map { |key, label|
        { method: key, label: label }
      },
      label_text: "Do you have any separate utility expenses?") %>

    <% end %>
<% end %>
