<% content_for :header_title, "Introduction" %>

<% content_for :form_card_title, "Every family is different" %>

<% content_for :form_card_body do %>
  <p>Food Assistance and Medicaid calculate households differently.</p>
  <div class="illustration illustration--venn-diagram"></div>
  <p>We'll ask you questions about all the important people in your life.</p>
<% end %>
