<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Every family is different.</div>
  </header>

  <div class="form-card__content">
    <p>Food Assistance and Medicaid calculate households differently.</p>
    <div class="illustration illustration--venn-diagram"></div>
    <p>We'll ask you questions about all the important people in your life.</p>
    <%= render "integrated/next_step" %>
  </div>
</div>
