<% content_for :header_title, "Paperwork" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="pre-title">
      Almost done!
    </div>
    <div class="form-card__title">
      Do you have paperwork with you?
    </div>
  </header>

  <%= form_for @step,
    as: :step,
    builder: MbFormBuilder,
    url: current_path,
    method: :put do |f| %>

    <div class="form-card__content">
      <p>
        This includes documents like IDs, proof of income, and proof of
        expenses.
      </p>
      <p>
        After reviewing your application, staff will five you a list of
        exactly what paperwork you need to provide. However,
        <strong>we recommend uploading anything you have with you now</strong>.
        It will help your application get processed faster
      </p>
    </div>

    <footer class="form-card__footer">
      <%= f.hidden_field(:upload_paperwork, class: 'boolean-answer') %>

      <button
        type="submit"
        class="button button--full-mobile button--cta"
        data-yes> Upload paperwork now </button>

      <button
        type="submit"
        class="button button--full-mobile"
        data-no> I'll do this later
        <span class="icon-arrow_forward"></span>
      </button>
    </footer>
  <% end %>
</div>
