<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Visit Healthcare.gov to apply for health coverage.</div>
    <p class="text--help text--centered">
      This site is for Michigan residents only. To apply for coverage in your state:
    </p>
  </header>

  <footer class="form-card__button_centered">
    <a href="https://www.healthcare.gov/medicaid-chip/getting-medicaid-chip/" class="button button--nav button--nav-center button--cta button--full-width">
      Visit Healthcare.gov
    </a>
  </footer>
</div>

<!-- https://trello.com/c/u8aCZymB/71-okay-were-going-to-point-you-in-the-right-direction -->
