<% content_for :template_name, "Numbers"  %>

<section class="slab">
  <div class="grid grid-padded">
    <h1>MichiganBenefits Numbers</h1>

    <div id="total-snap-applications" class="grid__item width-one-half">
      <div class="card">
        <h4>Total Completed SNAP Applications</h4>
        <p class="big-number"><%= @snap_count %></p>
      </div>
    </div>

    <div id="total-medicaid-applications" class="grid__item width-one-half">
      <div class="card">
        <h4>Total Completed Medicaid Applications</h4>
        <p class="big-number"><%= @medicaid_count %></p>
      </div>
    </div>
  </div>
</section>
