<% content_for :header_title, "Office Submission" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Where would you like to submit your application?
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_radio_set :office_location,
          "",
        [
         { value: "clio", label: "Clio Road" },
         { value: "union", label: "Union Street" },
        ] %>
      <%= render 'shared/next_step' %>
    <% end %>
</div>
</div>
