<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us who is a caretaker or parent of others in the household.</div>
  </header>

  <div>
    <label class="checkbox">
      <input type="checkbox">
       Member 1
     </label>

    <label class="checkbox">
      <input type="checkbox">
        Member 2
    </label>

    <label class="checkbox">
      <input type="checkbox">
        Member 3
    </label>
  </div>

  <!-- Replace with partial -->
  <footer class="form-card__button_right">
    <a href="" class="button button--nav  button--cta button--full-width">
      Next
    </a>
  </footer>
</div>

<!-- Single-member content: https://trello.com/c/kOVJBHAe/78-tell-us-who-is-a-caretaker-or-parent-of-others-in-the-household -->
