<% content_for :header_title, "Contact Information" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us the best way to get in touch with you.
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_input_field :phone_number,
        "What is the best phone number to reach you?",
        type: :tel,
        autofocus: true,
        options: { maxlength: 10 },
        notes: "No dashes or spaces (example: 5555555555).",
        optional: true %>
      <%= f.mb_input_field :email, "What is your email address?", notes: ["If you don’t have one or you don’t want to receive emails from us you can leave this blank."], optional: true %>

      <%= render 'shared/next_step' %>
    <% end %>
  </div>
</div>
