- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: household_add_member_path(member_id: member_id),
    method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Tell us about another person you are applying with.
        %p.text--help.step-section-header__subhead-help
          If you don't know the answer to a question, that's okay.

    .form-card__content
      :ruby
        qs = [
          {
            title: 'What is their first name?',
            type: :text_field,
            method: :first_name
          },
          {
            title: 'What is their last name?',
            type: :text_field,
            method: :last_name
          },
          {
            title: 'What is their sex?',
            help: 'As it appears on their driver’s license',
            type: :radios,
            method: :sex,
            options: %w[male female]
          },
          {
            title: 'What is their relationship to you?',
            type: :select,
            method: :relationship,
            options: %w[Spouse Parent Child Sibling Roommate]
          },
          {
            title: 'What is their social security number?',
            type: :text_field,
            method: :ssn,
            help: 'If they don’t have one or you don’t know it you can skip this',
            safety: 'Social security numbers help ensure you receive the correct \
              benefits. MDHSS maintains strict security guidelines to protect the \
              identities of our residents.'
          },
          {
            title: 'Is this person living in your home?',
            type: :yes_no,
            method: :in_home
          },
          {
            title: 'Do you buy and prepare food with this person?',
            type: :yes_no,
            method: :buy_food_with
          }
        ]

      - questions f, qs

    = render 'shared/next_step'
