<footer class="form-card__button_right">
  <button class="button button--nav  button--cta button--full-mobile" type="submit">
    <%= local_assigns[:button_label].presence || "Continue" %>
  </button>
</footer>
