- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: current_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Tell us more about your additional income.

    .form-card__content
      :ruby
        money_fields = {
          income_unemployment: 'Unemployment Insurance',
          income_ssi: 'SSI or Disability',
          income_workers_comp: "Worker's Compensation",
          income_pension: 'Pension',
          income_social_security: 'Social Security',
          income_child_support: 'Child Support',
          income_foster_care: 'Foster Care or Adoption Subsidies',
          income_other: 'Other Income'
        }.stringify_keys.slice(*@additional_income)

      - money_fields.each do |method, title|
        = render 'shared/question',
          f: f,
          title: title,
          type: :money_field,
          help: 'Monthly amount',
          method: method

    = render 'shared/next_step'
