<% content_for :header_title, 'Navigation' %>
<div class="slab">
  <% current_application.class.step_navigation.sections.each do |section, steps| %>
    <h3>
      <%= section %>
    </h3>

    <% steps.each do |step| %>
      <div>
        <%= link_to step.to_param.titleize,
          decoded_step_path(step: step),
          class: 'button button--small button--full-mobile' %>
      </div>
    <% end %>
  <% end %>
</div>
