<% content_for :header_title, 'Navigation' %>
<div class="slab">
  <% StepNavigation.sections.each do |section, steps| %>
    <h3>
      <%= section %>
    </h3>
    <% steps.each do |step| %>
      <div>
        <%= link_to step.to_param.titleize,
          step_path(step),
          class: 'button button--small button--full-width' %>
      </div>
    <% end %>
  <% end %>
</div>
