<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.income_job.edit.title",
        count: current_application.members_count) %>
    </div>
    <p class="text--help text--centered">
      This includes full time, part time, temporary, and contract jobs.
      This doesn't include self-employment. We'll ask you about that next.
    </p>
  </header>

  <%= render "shared/yes_no_form", step: @step, field: :anyone_employed %>
</div>
