<% content_for :header_title, "About This Demo" %>

<% content_for :form_card_title, "A user-centered integrated benefits application" %>

<% content_for :form_card_body do %>
  <p>
    The following is an application for both food assistance (SNAP) and healthcare (Medicaid) that was designed,
    built, and piloted for six months with Applicants in Flint, Michigan. This work was a joint initiative between
    Code for America and Civilla. It was funded by a Process and Technology Improvement Grant from the Food and
    Nutrition Service.
  </p>
  <p>
    Designed alongside people applying for services in Flint, this form aimed to be easier to understand, faster to
    use, as well as deliver a more accurate application.
  </p>
  <p>
    Early results from the pilot show this approach reduced the time it takes to complete an application to ten
    minutes, improved approval rates by 35%, and earned a user satisfaction rate of 74%.
  </p>
<% end %>
