<% content_for :header_title, "Introduction" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Is anyone a caretaker or parent of other people in the household?
    </div>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :caretaker_or_parent %>
</div>
