<div class="step-header">
  <a href="#" class="step-header__back-link">
    <i class="button__icon icon-arrow_back"></i>
  </a>
  <h4 class="step-header__title">
    Introduction
  </h4>
</div>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Is anyone a caretaker or parent of other people in the household?
    </div>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :caretaker_or_parent %>
</div>

<!-- Single-member content: https://trello.com/c/bNj8pyx5/54-what-type-of-health-insurance-plan-are-you-currently-enrolled-in -->
