.button--nav {
  @include padding(null 1em);

  @include media($mobile-up) {
    @include padding(null 5em);
  }
}

.button--nav-center {
  margin: 0 auto;
}

.button--cta {
  background-color: $button-cta-color;

  &:hover {
    background-color: tint($button-cta-color, 20%);
  }

  &:active {
    background-color: shade($button-cta-color, 15%);
  }
}