// Colors
$color-sky: #0080a7;
$color-light-sky:     lighten($color-sky, 50%);
$color-dark-sky:      shade($color-sky, 15%);
$color-darkest-sky:   shade($color-sky, 30%);

// Button Colors
$button-cta-color: $color-sky;
$button-cta-border-color: $color-dark-sky;

// Magic Numbers
$footer-height: 300px;