<% content_for :header_title, "Your Location" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      Tell us where you currently live.
    </div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= render "shared/address", f: f %>
      <div class="form-group">
        <%= f.mb_checkbox :unstable_housing,
          "Check this box if you do not have a stable address" %>
      </div>
      <%= render "shared/next_step" %>
    <% end %>
  </div>
</div>
