<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      <%= t("medicaid.income_other_income.edit.title",
        count: current_application.members_count) %>
    </div>
    <p class="text--help text--centered">
      This includes unemployment, pensions, social security, retirement, etc.
      If so, we'll ask you about the specific amounts you earn later.
    </p>
  </header>

  <%= render "shared/yes_no_form", step: @step, field: :anyone_other_income %>
</div>
