<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Do you get income that's not from a job?</div>
    <p class="text--help text--centered">
      We’ll ask you about specific amounts you earn later.
    </p>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :income_not_from_job %>
</div>

<!-- https://trello.com/c/tXO2ckrd/50-do-you-get-income-thats-not-from-a-job -->
