
<% content_for :header_title, "Quick Health Questions" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">
      We’ve noted this on your application.
    </div>

    <p class="text--help text--centered">
      You may be eligible for additional coverage. You’ll need to show a
      caseworker that you lived, worked, or attended school or childcare at an
      address serviced by the Flint Water System after April 2014.
    </p>
  </header>

  <footer class="form-card__button_right">
    <a href="/steps/medicaid/tax-filing" class="button button--nav  button--cta button--full-width">
      Next
    </a>
  </footer>
</div>
