- content_for :header_title, 'Your Household'

.form-card
  = form_for @step, as: :step, url: household_tax_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead
          Does anyone plan to file a federal tax return next year?

    .form-card__content
      = render 'shared/question',
        f: f,
        type: :yes_no,
        method: :household_tax,
        title: 'Does anyone plan to file a federal tax return next year?',
        label_hidden: true

    = render 'shared/next_step'
