<% content_for :header_title, "Income & Expense Amounts" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Tell us your specific expenses.</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_money_field :child_support_alimony_arrears_expenses,
        "Child Support, Alimony, or Arrears" %>
      <%= f.mb_money_field :college_loan_interest_expenses,
        "College Loan Interest" %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
