<%% content_for :header_title, "Template" %>

<%% content_for :form_card_header do %>
    <h1 class="form-card__title">
      I'm a template!
    </h1>
    <p class="text--centered text--help">
      Help me!
    </p>
<%% end %>

<%% content_for :form_card_body do %>
    <%%= fields_for(:form, @form, builder: MbFormBuilder) do |f| %>
    <%% end %>
<%% end %>
