$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: "Slabo 27px", Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$palate1-primary: #6AB79A;
$palate1-alert: #EC4853;
