$m1: 1rem;
$m2: 2rem;
$m5: 5rem;
$m10: 10rem;
$ms: $m1, $m2, $m5, $m10;

@for $i from 1 through length($ms) {
  $length: nth($ms, $i);
  .m#{$i} {
    margin: #{$length};
  }

  // .mr1 { margin-right: 1rem; } ... for all direction + length combos
  $dirs_short: r, l, t, b;
  $dirs_long: right, left, top, bottom;
  @for $dir_i from 1 through length($dirs_short) {
    .m#{nth($dirs_short, $dir_i)}#{$i} {
      margin-#{nth($dirs_long, $dir_i)}: $length;
    }
  }

  // .mx1 { margin-right: 1rem; margin-left: 1rem } ... for all direction + length combos
  .mx#{$i} {
    margin-right: $length;
    margin-left: $length;
  }
  .my#{$i} {
    margin-top: $length;
    margin-bottom: $length;
  }
}