<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="illustration illustration--celebrate"></div>
    <div class="pre-title">
      Stay connected.
    </div>
    <div class="form-card__title">
      Now, let's get your contact and followup information.
    </div>
  </header>

  <div class="form-card__content">
    <p>
      This information will ensure we can keep in touch with you and help you
      through the enrollment process.
    </p>
  </div>

  <div class="form-card__button_right form-card__footer">
    <%= link_to next_path, class: "button button--nav  button--cta button--full-mobile" do %>
      Next
    <% end %>
  </div>
</div>
