- content_for :header_title, 'Introduction'

.form-card
  = form_for @step, as: :step, url: introduction_home_address_path, method: :put do |f|
    %header.form-card__header
      .step-section-header
        .step-section-header__subhead Tell us where you currently live.

    .form-card__content
      %p What is your home address?

      :ruby
        qs = [
          {
            title: 'Street',
            type: :text_field,
            method: :home_address,
            placeholder: 'Street'
          },
          {
            title: 'City',
            type: :text_field,
            method: :home_city,
            placeholder: 'City'
          },
          {
            title: 'ZIP Code',
            type: :text_field,
            method: :home_zip,
            placeholder: 'ZIP'
          },
          {
            title: 'Check if you do not have stable housing.',
            type: :checkbox,
            method: :unstable_housing
          }
        ]

      - questions f, qs

    = render 'shared/next_step'
