<div class="small-12 large-12 columns">
	<h1>LoggedOut#index</h1>
	<p>Find me in app/views/logged_out/index.html.erb</p>

	<p><%= link_to 'Sign Up', new_account_path %>
	<p><%= link_to 'Log in', new_session_path %>
</div>	
