<% content_for :navigation do %>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
<% end %>

<div class="row">
  <div class="large-2 columns">
    <ul class="side-nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>

  <div class="large-4 columns">
    <h1>Admin::Admin#index</h1>
    <p>Find me in app/views/admin/admin/index.html.erb</p>

    <p><%= link_to 'Accounts', admin_accounts_path %></p>
    <p><%= link_to 'Roles', admin_roles_path %></p>
  </div>

  <div class="large-4 columns">
    <p>I'm on the right side!
  </div>
</div>
