<% content_for :header_title, "Application Submitted" %>

<div class="form-card">
  <header class="form-card__header">
    <h1 class="form-card__title">Congratulations</h1>
  </header>

  <div class="form-card__content">
    <p>You have submitted an application for Food Assistance and Medicaid.</p>
  </div>
</div>
