<% content_for :header_title, "Application Submitted" %>

<% content_for :form_card_title, "Congratulations" %>

<% content_for :form_card_body do %>
  <p>You have submitted an application for Food Assistance and Medicaid.</p>
<% end %>

<% content_for :skip_footer, true %>