<% content_for :header_title, "Current Income" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">Are you self-employed?</div>
    <p class="text--help text--centered">
      We’ll ask you about specific amounts you earn later.
    </p>
  </header>

  <%= render 'shared/yes_no_form', step: @step, field: :self_employed %>
</div>

<!-- https://trello.com/c/5htwB4p3/49-are-you-self-employed -->
