<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What is the best number for you to receive text messages?</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_phone_number_field :sms_phone_number,
        "Phone number",
        type: :tel,
        autofocus: true,
        options: { maxlength: 10 },
        notes: "No dashes or spaces (example: 5555555555).",
      optional: true %>

      <%= f.mb_checkbox_set [
        { method: :sms_consented, label: "I'd like to receive SMS reminders at key moments in the enrollment process." }
      ],
          label_text: "" %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
