<% content_for :header_title, "Contact Information & Followup" %>

<div class="form-card">
  <header class="form-card__header">
    <div class="form-card__title">What is the best number for you to receive phone calls?</div>
  </header>

  <div class="form-card__content">
    <%= form_for @step, as: :step, builder: MbFormBuilder, url: current_path, method: :put do |f| %>
      <%= f.mb_phone_number_field :phone_number,
        "Phone number",
        type: :tel,
        autofocus: true,
        options: { maxlength: 10 },
        help_text: "No dashes or spaces (example: 5555555555).",
        optional: true %>
      <%= render "medicaid/next_step" %>
    <% end %>
  </div>
</div>
